<div class="min-vh-100 bg-Dark text-white">
  <div class="container py-4">
    <!-- Client Details Card -->
    <div class="card p-4 mb-4" style="background-color: #1A1F3766;">
      <h5 class="mb-3 text-white">{{"sites.ownership.clientDetails" |translate}}</h5>
      <div class="row g-3">
        <div class="col-6 col-md-3">
          <p class="Gray-300 mb-0 font-sm">{{"sites.ownership.clientName" |translate}}</p>
          <p class="font-col mb-0">{{ client.name }}</p>
        </div>
        <div class="col-6 col-md-3">
          <p class="Gray-300 mb-0 font-sm">{{"sites.ownership.mobile" |translate}}</p>
          <p class="font-col mb-0">{{ client.mobile }}</p>
        </div>
        <div class="col-6 col-md-3">
          <p class="Gray-300 mb-0 font-sm">{{"sites.ownership.email" |translate}}</p>
          <p class="font-col mb-0">{{ client.email }}</p>
        </div>
        <div class="col-6 col-md-3">
          <p class="Gray-300 mb-0 font-sm">{{"sites.ownership.createdDate" |translate}}</p>
          <p class="font-col mb-0 ">{{ client.createdDate | date: 'mediumDate' }}</p>
        </div>

        <div class="col-6 col-md-3">
          <p class="Gray-300 mb-0 font-sm">{{"sites.ownership.governorate" |translate}}</p>
          <p class="font-col mb-0">{{ client.governrateName }}</p>
        </div>
        <div class="col-6 col-md-3">
          <p class="Gray-300 mb-0 font-sm">{{"sites.ownership.city" |translate}}</p>
          <p class="font-col mb-0">{{ client.cityName }}</p>
        </div>
        <div class="col-6 col-md-3" *ngIf="client.nationalNumber!=null">
          <p class="Gray-300 mb-0 font-sm">{{"sites.ownership.nationalNumber" |translate}}</p>
          <p class="font-col mb-0">{{ client.nationalNumber }}</p>
        </div>
      </div>
    </div>


    <!-- Mobile Devices -->
    <div class="row g-4 justify-content-center mb-4">
      <div class="col-md-6 col-lg-5" *ngFor="let mobile of client.phonesDetailsByClientIdDTOs">
        <div class="card-custom p-4 rounded shadow d-flex flex-column h-100">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <button class="btn btn-sm" [ngClass]="{
              'btn-second': mobile.phoneStatus === 1,
      'btn-success': mobile.phoneStatus === 2,
      'btn-secondary': mobile.phoneStatus === 3,
      'btn-danger': mobile.phoneStatus === 4,
      'btn-yellow': mobile.phoneStatus === 5,
      'btn-blue': mobile.phoneStatus === 6,

   
    }">
              {{ getStatusName(mobile.phoneStatus)|translate }}
            </button>
            <div class="d-flex align-items-center">
              <span class="Gray-300 me-2" style="font-size: 18px;">
                {{ mobile.brandName }} {{ mobile.MobileModel }}
              </span>
              <img [src]="'https://api.rage3ly.com/' + mobile.brandPath.path" class="me-2 custom-img" />
            </div>
          </div>

          <hr class="Gray-600" />

          <div class="row g-3 text-sm ">
            <div class="col-6 ">
              <div class="d-flex align-items-center mb-2">
                <div>
                  <p class="Gray-300 mb-0 font-sm">IMEI 1</p>
                  <p class="font-col mb-0">{{ mobile.imeI1 }}</p>
                </div>
              </div>
              <div class="d-flex align-items-center ">
                <div>
                  <p class="Gray-300 mb-0 font-sm">IMEI 2</p>
                  <p class="font-col mb-0">{{ mobile.imeI2 }}</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center mb-2">
                <div>
                  <p class="Gray-300 mb-0 font-sm">{{"sites.ownership.serialNumber" |translate}}</p>
                  <p class="font-col mb-0">{{ mobile.serialNumber }}</p>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div>
                  <p class="Gray-300 mb-0 font-sm">{{"sites.ownership.Date of Purchase" |translate}}</p>
                  <p class="font-col mb-0">{{ mobile.dateOfPurchase | date: 'mediumDate' }}</p>
                </div>
              </div>
            </div>

            <div class="col-6">

              <div class="d-flex align-items-center mb-2">
                <div>
                  <p class="Gray-300 mb-0 font-sm">{{"sites.ownership.brandName" |translate}}</p>
                  <p class="font-col mb-0">{{ mobile.brandName }}</p>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div>
                  <p class="Gray-300 mb-0 font-sm">{{"sites.ownership.createdDate" |translate}}</p>
                  <p class="font-col mb-0">{{ mobile.createdDate | date: 'mediumDate' }}</p>
                </div>
              </div>
            </div>

            <div class="col-6">

              <div class="d-flex align-items-center mb-2">
                <div>
                  <p class="Gray-300 mb-0 font-sm">{{"sites.ownership.number" |translate}}</p>
                  <p class="font-col mb-0">{{ mobile.number }}</p>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div>
                  <p class="Gray-300 mb-0 font-sm">{{"sites.ownership.mobileModel" |translate}}</p>
                  <p class="font-col mb-0">{{ mobile.mobileModel}}</p>
                </div>
              </div>
            </div>


            <div class="col-6 ">


              <div class="d-flex align-items-center" *ngIf="mobile.otherBrand!=null">
                <div>
                  <p class="Gray-300 mb-0 font-sm">{{"sites.ownership.otherBrand" |translate}}Other Brand</p>
                  <p class="font-col mb-0">{{ mobile.otherBrand }}</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Optional: Show image or label if needed -->
        <div *ngIf="mobile.BrandPath" class="text-center mt-3">
          <img [src]="'https://api.rage3ly.com/' + mobile.BrandPath" class="img-fluid img-directions" />
        </div>
      </div>
    </div>

  </div>

</div>