<div class="container py-4 px-3">
  <div class="card bg-Dark text-white p-4 shadow rounded-4">
<div class="d-flex justify-content-between align-items-center py-2 " >
  
  <a class="mb-2 color-gray-800 ts-3 text-white font-big"  >
    <span class="expand-arrow " routerLink="/sites/customers">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="white" stroke-width="2" viewBox="0 0 24 24">
        <path d="M8 5l8 7-8 7" />
      </svg>
    </span>
    {{ (page.isEdit ? 'shared.edit' : 'shared.create') | translate }} {{ "salesflow.Customers.customer" | translate }}
  </a>
  
  

  <div class="d-flex justify-content-between align-items-center py-2">
   
    <button   *ngIf="hasFeature(featureEnum.ChangePassword) && page.isEdit"  class="btn btn-primary flex-grow-1 flex-sm-grow-0  no-border cr3  py-2 px-4 color-gray-25 cr3 ms-auto m-2"
      (click)="navigateToChangePassword(id)" >
      <span class="rb-btn-text">{{"salesflow.Customers.changePassword"|translate}} </span>
    </button>
    <button class="bg-brand-500 py-2 px-4 color-gray-25 flex-grow-1 flex-sm-grow-0  no-border cr3 btn-primary mx-2" (click)="Save()"
    [disabled]="!page.isEdit && (page.form?.invalid || page.isSaving|| !validateImages() )">
    <span class="rb-btn-text">{{ (page.isEdit ? 'shared.edit' : 'shared.create') | translate }}</span>
  </button>
  </div>



 
</div>
<hr />
<ng-container *ngIf="page.isPageLoaded">
  <form [formGroup]="page.form">
    <div class="row g-3 mb-4">
      <div class="col-6">
        <ng-control [form]="page.form" control="name" label="salesflow.Customers.customer" placeholder="salesflow.Customers.customer"  [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
        [labelClass]="page.form.get('name')?.invalid && (page.form.get('name')?.touched || page.form.get('name')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"
      ></ng-control>
      </div>
      <div class="col-6">
        <ng-control [form]="page.form" control="nationalNumber" label="salesflow.Customers.nationalNumber" placeholder="Ex: 12345678912345"  [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
        [labelClass]="page.form.get('nationalNumber')?.invalid && (page.form.get('nationalNumber')?.touched || page.form.get('nationalNumber')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"
      
          (keypress)="numberOnly($event)"></ng-control>
      </div>
     
    </div>
 
    <div class="row g-3 mb-4">

      <div class="col-6" *ngIf="!page.isEdit">
        <ng-control [form]="page.form" control="password" label="salesflow.Customers.password" placeholder="*********"  [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
        [labelClass]="page.form.get('password')?.invalid && (page.form.get('password')?.touched || page.form.get('password')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"
          [type]="controlType.PASSWORD"></ng-control>
      </div>
      <div class="col-6" *ngIf="!page.isEdit">
        <ng-control [form]="page.form" control="confirmPassword" label="salesflow.Customers.confirmPassword" [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
        [labelClass]="page.form.get('confirmPassword')?.invalid && (page.form.get('confirmPassword')?.touched || page.form.get('confirmPassword')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"
          placeholder="*******" [type]="controlType.PASSWORD" (blur)="confirmPassword()"></ng-control>
        <p class="text text-danger font-12" *ngIf="!isEqualPassword">{{"salesflow.Customers.Passwords do not match"|translate}}</p>
      </div>
     

    </div>
    <div class="row g-3 mb-4">
      <div class="col-6">
        <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="governorateId"  [labelClass]="'text-white'" [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
        (change)="onGovernorateChange($event.id)" label="Governorate Name" placeholder="Governorate Name"
        [items]="governorates">
    </ng-control>
      </div>
      <div class="col-6">
        <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="cityId" label="City Name" [labelClass]="'text-white'" [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
        placeholder="City Name" [items]="cities">
    </ng-control>
      </div>
    </div>
    <div class="row g-3 mb-4">
      <div class="col-6">
        <ng-control [form]="page.form" control="mobile" label="salesflow.Customers.mobile" placeholder="Ex: 0123567891"  [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
        [labelClass]="page.form.get('mobile')?.invalid && (page.form.get('mobile')?.touched || page.form.get('mobile')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"
  
          (keypress)="numberOnly($event)"></ng-control>
      </div>
      <div class="col-6">
        <ng-control [form]="page.form" control="email" label="salesflow.Customers.email" placeholder="salesflow.Customers.email" [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
        [labelClass]="page.form.get('email')?.invalid && (page.form.get('email')?.touched || page.form.get('email')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"></ng-control>
      </div>
       


    </div>
    <div class="row g-3 mb-4" style="display: flex; justify-content: center;"*ngIf="!page.isEdit" >

      <div class="col-4 col-md-4 col-lg-4 mt-5 h-100" *ngFor="let image of images; let i = index">

        <div class="border p-3 text-center h-60">
          <div *ngIf="image.uploaded; else uploadTemplate">
            <img [src]="environment.api+'/'+image.src" alt="Uploaded Image" class="img-fluid mb-2 img-thumbnail" />
          </div>
          <ng-template #uploadTemplate>
            <label for="fileInput-{{ i }}" class="text-primary cursor-pointer">
              <i class="fa fa-upload fa-2x mb-2 color-brand-500"></i>
              <p class="text-white" *ngIf="!image.uploaded">{{"salesflow.Customers.Upload New Image"|translate}}</p>
              <p class="text-danger" *ngIf="image.error">{{"salesflow.Customers.Error Uploading"|translate}}</p>
            </label>
            <input #file type="file" id="fileInput-{{ i }}" class="d-none" (change)="onImageUpload(file.files, i)" />
          </ng-template>
        </div>
      </div>
    </div>


  </form>
</ng-container>
  </div>
</div>