<div class="container mt-4 mb-5">
  <div class="d-flex justify-content-between align-items-center mb-4">

    <h3 class="mb-2 color-gray-800 ts-3 text-white">
      <span class="expand-arrow " routerLink="/sites/roles">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="white" stroke-width="2" viewBox="0 0 24 24">
          <path d="M8 5l8 7-8 7" />
        </svg>
      </span>
      
      {{"sites.roles.roles&Permissions"|translate}}
    </h3>
    
  </div>
  <hr class="color-gray-200">
  <div>
    <!-- <label for="roleName" class="form-label">Role Name</label>
    <input id="roleName" type="text" class="form-control " placeholder="Enter Name" /> -->
    <!-- <ng-control [form]="page.searchForm" control="Name" label="Role Name"
    placeholder="Enter Name">
</ng-control> -->



     <form [formGroup]="page.searchForm">
      <div class="form-body">
        <div class="row g-2 w-100 d-flex align-items-end justify-content-between">

          <!-- <div class="col-6"> -->
            <ng-control [form]="page.searchForm" control="FeatureName" label="sites.roles.featureName" placeholder="sites.roles.featureName"
            [inputClass]="'bg-Dark border-color color-color-gray-300'"
            [labelClass]="'text-white'"
            class="w-50"
            >
            </ng-control>
          <!-- </div> -->

          <!-- <div class="col-4 ms-auto d-flex align-items-end"> -->
            <button style="width: 30%;" class='color-brand-700 rb-btn  rb-btn-sm border-color text-white' (click)="search()"
              [disabled]="page.searchForm.invalid || page.isSearching">
              <i class="uil uil-search"></i>
              <span class="rb-btn-text d-md-inline-block">
                {{'shared.search'|translate}}</span>
            </button>
          <!-- </div> -->

        </div>
      </div>
    </form> 
  </div>

  <div *ngFor="let section of items; let i = index" class="mt-4">
    <div class="card feature-item">
      <div class=" d-flex justify-content-between align-items-center m-2">
        <div class="form-check form-switch">
          <p-inputSwitch [ngModel]="isSectionActive(section)" (onChange)="toggleSectionFeatures(section)"
            class="form-check-input"></p-inputSwitch>
          <label class="form-check-label px-2">{{ section.sectionName }}</label>
        </div>
        <button class="btn btn-link p-0 w-7" (click)="onSectionDropdownChange(section, i)">
          <span class="expand-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="white" stroke-width="2" viewBox="0 0 24 24">
              <path d="M8 5l8 7-8 7" />
            </svg>
          </span>
        </button>
        
        <!-- <select
          class="form-select form-select-sm "
          style="width: 400px;"
          [(ngModel)]="sectionDropdownValues[i]" 
          (ngModelChange)="onSectionDropdownChange(section, i)"
        >
           <option value="all">All</option>
          <option value="viewOnly">View only</option> 
        </select> -->
      </div>

      <!-- Section Features -->
      <div class="card-body mx-3 feature-item" *ngIf="section.showFeatures">
        <div *ngFor="let feature of section.features" class="d-flex justify-content-between align-items-center mb-3">
          <div class="form-check form-switch">
            <p-inputSwitch [(ngModel)]="feature.isActiveToRole" (onChange)="updateSectionStatus(section,feature)"
              ></p-inputSwitch>
            <label class="form-check-label px-2">{{ feature.featureName }}</label>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>