<!-- Container -->
<div class="d-flex min-vh-100 bg-Dark text-white" >
  <div class="flex-grow-1 p-2">
    <div class="container-fluid">

      <!-- Search Card -->

      <div class="card p-4 mb-4" style="background-color: #1A1F3766;">
        <h5 class="mb-3 text-white">{{"sites.advertisment.searchOfAdverdisments"|translate}} </h5>
        <form [formGroup]="page.searchForm">
          <div class="form-body">
            <div class="row g-2">
              <div class="col-3">
                <ng-control [form]="page.searchForm" control="Title" [inputClass]="'bg-Dark border-color'"
                  [labelClass]="'text-white'" label="sites.advertisment.name" placeholder="sites.advertisment.name">
                </ng-control>
              </div>
              <div class="col-3">
                <ng-control [form]="page.searchForm" control="StartDate" label="sites.advertisment.startDate" [inputClass]="'bg-Dark  border-color'"
                  [labelClass]="'text-white'" [type]="page.ControlType.INPUT_DATE"></ng-control>
              </div>
              <div class="col-3">

                <ng-control [form]="page.searchForm" control="EndDate" label="sites.advertisment.endDate" [inputClass]="'bg-Dark border-color'" 
                  [labelClass]="'color-gray-300'" [type]="page.ControlType.INPUT_DATE"></ng-control>
              </div>
              <!-- Search Button -->
              <div class="col-2 d-flex align-items-end">
                <button class='color-brand-700 rb-btn  rb-btn-sm  w-100 border-color text-white'  (click)="search()"
                  [disabled]="page.searchForm.invalid || page.isSearching">
                  <i class="uil uil-search"></i>
                  <span class="rb-btn-text d-md-inline-block">
                    {{'shared.search'|translate}}</span>
                </button>
              </div>

            </div>
          </div>
        </form>
      </div>

      <!-- Ads Table Card -->
      <div class="card p-4 border-0 shadow-sm rounded-3" style="background-color: #1A1F3766;">
        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h5 class="text-white"> {{"sites.advertisment.advertisments"|translate}} </h5>
          <div class="d-flex">
            <button class="btn btn-primary me-2" (click)="deleteSelectedAds()">{{"sites.advertisment.delete"|translate}}</button>
            <button class="btn btn-primary me-2" (click)="activateAds()">{{"sites.advertisment.active"|translate}}</button>
            <button class="btn btn-primary me-2" (click)="disActiveAds()">{{"sites.advertisment.disActive"|translate}}</button>
            <button class="btn btn-primary me-2" (click)="navigateToCreateBrand()">{{"sites.advertisment.addNewAdvertisment"|translate}}</button>

          </div>
        </div>
        
        <!-- Table -->
        <div class="table-responsive">
          <table class="table text-center align-middle transparent-table">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" (change)="toggleSelectAll($event)" [checked]="isAllSelected()" />
                </th>
                <ng-container *ngFor="let colum of page.columns">
                  <th (click)="onSortClicked(colum)" [class.pointer]="colum.Sortable">
                    {{ colum.Title | translate }}
                    <i class="uil uil-sort ms-1" *ngIf="colum.Sortable"
                       [ngClass]="{
                         'sort-icon-ase': isColumnAscending(colum),
                         'sort-icon-des': !isColumnAscending(colum)
                       }">
                    </i>
                  </th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="items.length === 0">
                <td colspan="100%">{{"sites.advertisment.noAdvertisments"|translate}}</td>
              </tr>
              <tr *ngFor="let item of items | paginate: page.options; let i = index">
                <td><input type="checkbox" [(ngModel)]="item.selected" /></td>
                <td>{{ (page.options.currentPage - 1) * page.options.itemsPerPage + i + 1 }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.startDate | date: 'MMM d, y, h:mm:ss' }}</td>
                <td>{{ item.endDate | date: 'MMM d, y, h:mm:ss' }}</td>
                <td>
                  <p-inputSwitch [(ngModel)]="item.isActive"
                                 (ngModelChange)="updateActivation(item.id, item.isActive)">
                  </p-inputSwitch>
                </td>
                <td>
                  <img [src]="getImageUrl(item.path)" style="width: 80px; height: 80px; object-fit: cover;" />
                </td>
                <td>
                  <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"
                          aria-label="Delete" (click)="showDeleteConfirmation(item)">
                  </button>
                  <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-info"
                          aria-label="Edit" (click)="editad(item.id)">
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
        

        <!-- Pagination -->
        <!-- <ng-pagination [page]="page" (pageSizeChange)="onChangePageSize()" (pageChange)="getNextPrevData($event)">
        </ng-pagination> -->
      </div>
    </div>
  </div>

  <!-- Confirm Delete Modal -->
  <ng-template #confirmDeleteTemplate>
    <div class="modal-content bg-Dark text-white border border-secondary p-4 rounded">
      <div class="modal-body">
        <p class="modal-confirm-content mb-2">
          {{ 'shared.delete-confirmation.message' | translate }}
          <strong *ngIf="selectedItem">{{ selectedItem.Name }}</strong>
        </p>
        <div class="d-flex mt-4">
          <button type="button" class="btn btn-secondary me-auto" (click)="modalRef.hide()">{{"sites.advertisment.cancel"|translate}}</button>
          <button type="button" class="btn btn-danger ms-2" (click)="remove(); modalRef.hide()">{{"sites.advertisment.confirm"|translate}}</button>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Confirm Bulk Delete -->
  <ng-template #confirmDeleteTemplates>
    <div class="modal-content bg-Dark text-white border border-secondary p-4 rounded">
    <div class="modal-body">
      <p  class="modal-confirm-content mb-2"> {{"sites.advertisment.Are you sure you want to delete the selected ads?"|translate}}</p>
      <div class="d-flex mt-4">
        <button class="btn btn-secondary me-auto" (click)="modalRef.hide()">{{"sites.advertisment.cancel"|translate}}</button>
        <button class="btn btn-danger ms-2" (click)="modalRef.content.onConfirm(); modalRef.hide()">{{"sites.advertisment.confirm"|translate}}</button>
      </div>
    </div>
  </div>
    
  </ng-template>
</div>