body {
  background-image: url('../../../../assets/images/FirstSection_cleaned.jpg') !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: top center !important;
  background-color: #0c0021;
  overflow-y: auto;
}

.nav-features {
  background-color: #1a034b99;
  height: 100px;
}

.Gray-600 {
  color: "#535862";
}

.custom-card {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.ft-lg {
  font-size: 32px !important;
}

.custom-card:hover {
  box-shadow: 0 10px 20px #BB9BFF26;
  transform: translateY(-4px);
}

.card-col:hover .hover-text {
  display: block;
}

.text-white {
  color: #ffffff;
}

.bg-col {
  background-color: #281B7314 !important;

}

.card-col {
  background-color: #FFFFFF0A !important;
}

.card-col:hover {
  box-shadow: 0 10px 20px #BB9BFF26;
  transform: translateY(-4px);
}

.word-font {
  font-size: 48px;
  color: #A2A2A2;
}

.num-font {
  font-size: 64px;
  color: #C9A6FF;
}

.bg-gradiennt {
  min-height: 460px;
  background: linear-gradient(80.77deg, rgba(0, 90, 122, 0.2) 26.18%, rgba(111, 70, 175, 0.2) 80.63%, rgba(11, 1, 33, 0.2) 134.19%);

}

.border-sm {
  border-width: 1px;
  border-color: rgba(109, 40, 217, var(--tw-text-opacity));
  border-style: solid !important
}

.gradient-border {
  border-width: 5px;
  border-color: rgba(109, 40, 217, var(--tw-text-opacity));
  border-style: solid !important
}

.border-thin {
  border-width: 2px;
  border-color: rgba(109, 40, 217, var(--tw-text-opacity));
  border-style: solid !important
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: #ccc;
  box-shadow: 30px 0 0 #192880;
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: #192880;
  box-shadow: 30px 0 0 #ccc;
}

.text-gray {
  color: #ECECECA6;
}

.text-whi {
  color: linear-gradient(#ECECEC, #ECECEC00);
  font-size: 80px;
}

h1,h2,h3,h4,h5 {
  font-family: 'Zain', serif !important;
}

p,span,nav,div,a,label,td,form {
  font-family: 'Zain', serif !important;
  font-size: 20px;
}

.border-purple {
  border-color: #5d5767 !important;
  border-radius: 16px !important;
}

.bg-card {
  background: linear-gradient(to bottom, #170A36, #3E217E66);
}

.goal-card {
  width: 424px;
  height: 208px;
  margin-inline-start: 40px;
  border-radius: 16px;
}

.timeline-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.timeline-item {
  position: relative;
}

.right-card .goal-card {
  margin-left: 40px;
}

.left-card .goal-card {
  margin-right: 40px;
}

.left-card .timeline-icon {
  order: 2;
}

.right-card .timeline-icon {
  order: 1;
}

@media (max-width: 767.98px) {
  .goal-card {
    width: 100%;
    height: 80%;
    margin-inline-start: 0;
    padding: 1rem;
    text-align: center;
    position: relative;
  }

  .goal-card p {
    font-size: 12px;
  }

  .timeline-icon {
    position: relative;
    left: auto;
    transform: none;
    margin: 0 auto 0 auto;
    display: block;
    width: 50px;
    height: 40px;
  }

  .target-icon {
    width: 20px;
    height: 20px;
  }

  .card-col img {
    max-width: none;
  }

  .border-purple {
    display: none !important;
  }

  .goal-wrapper {
    flex-direction: column !important;
    align-items: center !important;
  }

  .goal-container {
    margin-bottom: 2rem;
    text-align: center;
  }

  .timeline-item {
    flex-direction: column !important;
    text-align: center;
  }

  .timeline-item .goal-card {
    margin: 0 auto !important;
    width: 100% !important;
    height: auto !important;
    text-align: center !important;
  }

  .timeline-item .timeline-icon {
    margin: 0 auto 16px auto !important;
    position: relative !important;
    left: auto !important;
    transform: none !important;
  }
}

@media (max-width: 760px) {
  .nav-features {
    height: 75px;
    width: auto;
    padding: 16px 16px;
    margin-bottom: 16px;

  }
}

@media (max-width: 767px) {
  .mobile-column {
    flex-direction: column-reverse !important;
  }

  .mobile-column .text-section {
    text-align: center !important;
    margin-left: 0 !important;
    padding: 0 12px;
  }

  .mobile-column .image-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
  }

  .mobile-column .image-section img:first-child {
    width: 180px !important;
    border-radius: 12px;
  }

  .mobile-column .image-section img:last-child {
    width: 250px !important;
    position: absolute;
    top: 65% !important;
    left: 90% !important;
    transform: translate(-50%, -50%) !important;
  }


  .text-whi {
    color: linear-gradient(#ECECEC, #ECECEC00);
    font-size: 14px !important;
  }

  .word-font {
    font-size: 28px;
    color: #A2A2A2;
  }

  .num-font {
    font-size: 44px;
    color: #C9A6FF;
  }

  .sm-butnn {
    font-size: 14px !important;
    height: 40.81083679199219 !important;
    width: 192.62167358398438 !important;
  }

  .sm-butn {
    font-size: 14px !important;
    height: 48px !important;
    width: 130px !important;
    line-height: 1.5 !important;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-column .flex {
    flex-direction: row !important;
  }
}

@media (max-width: 1250px) {

  .mobile-column .text-section {
    text-align: center !important;
    margin-left: 0 !important;
    padding: 0 12px;
  }

  .mobile-column .image-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
  }

  .mobile-column .image-section img:first-child {
    width: 180px !important;
    border-radius: 12px;
  }

  .mobile-column .image-section img:last-child {
    width: 250px !important;
    position: absolute;
    top: 65% !important;
    left: 90% !important;
    transform: translate(-50%, -50%) !important;
  }

  .text-whi {
    color: linear-gradient(#ECECEC, #ECECEC00);
    font-size: 40px !important;
  }
}

@media (max-width: 1024px) {

  .right-card .goal-card,
  .left-card .goal-card {
    margin: 0 auto !important;
  }
}