<head>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<div *ngIf="isLoading" class="fixed inset-0 h-100 flex items-center justify-center z-50"  style="background-color: #060B26;">
  <span class="loader"></span>
</div>

<body *ngIf="!isLoading" class="app-body text-white font-sans flex flex-col overflow-auto overflow-x-hidden">



  <!-- Navbar -->
  <nav class="  flex items-center justify-between px-4 md:px-12 py-4 bg-opacity-30 m-5 rounded-lg h-20 flex-wrap"  style="background-color: #1a034b99; height: 100px;">
      <div class="flex items-center space-x-5 justify-center md:justify-end w-full md:w-auto hidden md:flex">
        <div class="flex items-center space-x-5 mb-4 md:mb-0">
          <a href="#" class="bg-white text-purple-700 px-4 flex h-16 items-center rounded-full font-semibold hover:text-purple-700 gradient-border">نزل التطبيق الآن</a>
          <a href="#" class="border border-white px-4 h-16 flex items-center rounded-full hover:text-white">تحدث مع خبير</a> 
            <span class="text-white px-5 font-bold text-2xl">أراء مستخدمينا</span>
            <span class="text-white px-5 font-bold text-2xl">المميزات</span>
            <span class="text-white px-5 font-bold text-2xl">شركاء نجاحنا</span>

        </div>
      </div>
      <div class="flex items-center space-x-4 rtl:space-x-reverse mb-4 md:mb-0">
        <img src="../../../../../assets/images/BrandIcon.png" class="h-6 w-auto rounded" alt="logo">
        <span class="font-bold text-2xl text-white px-2">راجعلي.كوم </span>
    </div>
  </nav>

  <!-- Hero Section -->
  <div class="bg-[#0c0021] flex-1 flex items-between justify-center px-4 py-10">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-10 md:space-y-0 md:space-x-10 rtl:space-x-reverse" style="width: 85%;">
   
      <div class="relative text-right rtl mt-20 justify-end">
        <!-- Main Image -->
        <img src="../../../../assets/images/Home.png" class="rounded-xl w-70" />
        
       
         <img src="../../../../assets/images/Product Card.png" class="absolute" style="top:40% ;left: 50%;">
        <!-- <div class="absolute top-50 right-0 translate-x-1/4 -translate-y-1/2 bg-white text-black rounded-2xl p-4 shadow-xl w-[90%] max-w-md border border-gray-200 text-right">
          <!-- Header -->
          <!-- <div class="flex items-center justify-between mb-4 rtl:space-x-reverse">
            <div class="flex items-center rtl:space-x-reverse">
              <img src="../../../../assets/images/ProductIcon.png" class="h-8 me-2" />
              <span class="text-sm font-semibold text-gray-800">ايفون 15 بلس</span>
            </div>
            <span class="bg-green-500 text-white py-1 px-3 rounded-md text-xs">مفعل</span>
          </div> -->
      
       
          <!-- <div class="grid grid-cols-2 gap-4 text-xs">
            <div class="space-y-3">
              <div class="flex items-center justify-between">
                <div>
                  <p class="text-gray-500">الاسم</p>
                  <p class="text-indigo-600 font-medium">مستخدم جديد</p>
                </div>
                <i class="fas fa-user text-gray-400"></i>
              </div>
              <div class="flex items-center justify-between">
                <div>
                  <p class="text-gray-500">رقم IMEI</p>
                  <p class="text-indigo-600 font-medium">0000-0000-0000</p>
                </div>
                <i class="fas fa-barcode text-gray-400"></i>
              </div>
            </div>
      
            <div class="space-y-3">
              <div class="flex items-center justify-between">
                <div>
                  <p class="text-gray-500">رقم الهاتف</p>
                  <p class="text-indigo-600 font-medium">000-000-000-00</p>
                </div>
                <i class="fas fa-phone text-gray-400"></i>
              </div>
              <div class="flex items-center justify-between">
                <div>
                  <p class="text-gray-500">البريد الإلكتروني</p>
                  <p class="text-indigo-600 font-medium break-all">Newuserraq@gmail.com</p>
                </div>
                <i class="fas fa-envelope text-gray-400"></i>
              </div>
            </div>
          </div> -->
      
          <!-- <div class="mt-4">
            <button class="w-full border border-gray-300 rounded-lg py-2 text-center text-xs text-purple-700 hover:bg-gray-100">
              تفاصيل الهاتف
            </button>
          </div> -->
        <!-- </div>  -->
      </div>

   
      <div class="md:w-1/2 text-end md:text-right space-y-6 mt-10 justify-start ml-10">
        <span class="px-5 py-2 rounded-full inline-block border-thin">نساعدك للحفاظ على هاتفك</span>
        <h1 class="text-6xl md:text-7xl font-bold leading-snug">
          احمي هاتفك من السرقة<br />احفظ حالته الآن
        </h1>
        <p class="text-gray-300 text-lg">
          تطبيق ذكي لحفظ حالة جهازك، مما يسهل استرجاعه عند الفقدان أو السرقة.
        </p>
        <div class="flex flex-col sm:flex-row items-center justify-center md:justify-end gap-4 mt-6">
          <a href="#" class="bg-white text-purple-700 px-6 py-3 rounded-full font-semibold hover:text-purple-700 gradient-border">نزل التطبيق الآن</a>
          <a href="#" class="border border-white px-6 py-3 rounded-full hover:text-white">تحدث مع خبير</a>
        </div>
      </div>
    
    
    
    </div>
  </div>
  
  


  <!-- Logos Section -->
  <!-- <div class="bg-[#0c0021]  py-8 text-white text-center">
      <p class="text-lg font-light mb-6 font-bold py-5">موثوق به من قبل الفرق في أكثر من 1000 من المؤسسات الرائدة في العالم</p>
      <div class="flex flex-wrap justify-center items-center gap-6 md:gap-10 px-4">
          <img src="../../../../../assets/images/ted.png" alt="ted" class="h-5 md:h-6" />
          <img src="../../../../../assets/images/lattice.png" alt="lattice" class="h-5 md:h-6" />
          <img src="../../../../../assets/images/ncr.png" alt="ncr" class="h-5 md:h-6" />
          <img src="../../../../../assets/images/pacifc.png" alt="Pacific" class="h-5 md:h-6" />
          <img src="../../../../../assets/images/rakuten.png" alt="rakuten" class="h-5 md:h-6" />
          <img src="../../../../../assets/images/zenDesk.png" alt="zenDesk" class="h-5 md:h-6" />
          <img src="../../../../../assets/images/dell.png" alt="Dell" class="h-5 md:h-6" />
      </div>
  </div> -->

  <!-- Features Section -->
  <section class="bg-[#0c0021]  text-white py-16 px-4 text-center">
      <div class="max-w-6xl mx-auto">
          <h2 class="text-3xl md:text-4xl font-bold mb-4">مميزات تعمل لاجلك</h2>
          <p class="text-gray-400 mb-12">اكتشف ميزاتنا الرائعة بنفسك.</p>

          <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-right">
              <!-- Card 1 -->
              <div class="custom-card rounded-xl p-6 transition duration-300 border border-purple-900">
                  <div class="flex justify-start">
                      <img src="../../../../../assets/images/icon3.png" alt="البحث عن هاتف" />
                  </div>
                  <h3 class="text-xl font-semibold mb-2">يساعدك في البحث عن حالة هاتف</h3>
                  <p class="text-gray-400 text-sm">
                      تم حماية عدد لا نهائي من الهواتف بكل سهولة، تُتيح لك هذه الميزة تسجيل وتحديث حالة جهازك تحت حساب واحد.
                  </p>
              </div>

              <!-- Card 2 -->
              <div class="custom-card rounded-xl p-6 transition duration-300 border border-purple-900">
                  <div class="flex justify-start">
                      <img src="../../../../../assets/images/icon2.png" alt="حماية الهواتف" />
                  </div>
                  <h3 class="text-xl font-semibold mb-2">حماية عدد لا نهائي من الهواتف</h3>
                  <p class="text-gray-400 text-sm">
                      قم بحماية جميع هواتفك بكل سهولة تحت حساب واحد مع ضمان حفظ بياناتك واسترجاعها في حالة الفقدان أو السرقة.
                  </p>
              </div>

              <!-- Card 3 -->
              <div class="custom-card rounded-xl p-6 transition duration-300 border border-purple-900">
                  <div class="flex justify-start">
                      <img src="../../../../../assets/images/icon1.png" alt="تغيير الحالة" class="" />
                  </div>
                  <h3 class="text-xl font-semibold mb-2">تغيير حالة الهواتف المسجلة</h3>
                  <p class="text-gray-400 text-sm">
                      تم حماية عدد لا نهائي من الهواتف بكل سهولة، تُتيح لك هذه الميزة تسجيل وتحديث حالة جهازك تحت حساب واحد.
                  </p>
              </div>
          </div>
      </div>
  </section>

  <!-- Stats Section -->
  <section class="text-white flex items-center justify-center" style="background: linear-gradient(135deg, #001d28, #1b043f, #04000c); min-height: 460px;">
    <div class="max-w-6xl mx-auto px-4 w-full">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-center">
    
        <!-- Stat 1 -->
        <div class="space-y-2">
          <h3 class="text-3xl md:text-4xl font-bold text-purple-200">+2099</h3>
          <p class="text-white text-lg">مستخدم للتطبيق</p>
        </div>
    
        <!-- Stat 2 -->
        <div class="space-y-2">
          <h3 class="text-3xl md:text-4xl font-bold text-purple-200">+4099</h3>
          <p class="text-white text-lg">الهـواتف المُسجله</p>
        </div>
    
        <!-- Stat 3 -->
        <div class="space-y-2">
          <h3 class="text-3xl md:text-4xl font-bold text-purple-200">+1099</h3>
          <p class="text-white text-lg">الهواتف المرتجعة</p>
        </div>
    
      </div>
    </div>
  </section>
  

  <!-- Testimonials Section -->
  <!-- <section class=" py-16 px-4 text-white text-center">
      <div class="max-w-7xl mx-auto">
          <h2 class="text-3xl md:text-4xl font-bold mb-2">آراء مستخدمينا</h2>
          <p class="text-gray-400 mb-12">آراء أقرب المستخدمين في خدماتنا</p>

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 text-right">
       
              <div class=" p-5 rounded-lg shadow-md border border-gray-700">
                  <div class="flex items-center space-x-3 rtl:space-x-reverse mb-3">
                      <div class="bg-purple-800 text-white p-2 rounded-full">
                          <i class="fas fa-user text-xl"></i>
                      </div>
                      <div>
                          <h4 class="font-bold">عبدالرحمن الجمال</h4>
                          <p class="text-xs text-gray-400">مدير مجموعة شركات وكالات</p>
                      </div>
                  </div>
                  <p class="text-sm text-gray-300 leading-relaxed">
                      "بقاء في التواصل من خدمة المستخدمين الرائعين وتسهيل على حل المشاكل في أكثر من طريقة. التطبيق ممتاز وبرامج حماية على مختلفة مستويات رائعة"
                  </p>
              </div>
           
          </div>
      </div>
  </section> -->


  <div class="bg-[#0c0021] py-12 px-4">
    <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center md:items-start gap-8 text-white">
      
    
      <!-- Text Section -->
      <div class="w-full md:w-1/2 text-right">
        <h2 class="text-2xl md:text-3xl font-bold mb-4">من نحن؟</h2>
        <p class="text-sm leading-loose md:text-base">
          هنا يكتب تفاصيل الشركة بكل تفاصيلها المختلفة في كل المجالات. 
          هنا يكتب تفاصيل الشركة بكل تفاصيلها المختلفة في كل المجالات.
          هنا يكتب تفاصيل الشركة بكل تفاصيلها المختلفة في كل المجالات.
          هنا يكتب تفاصيل الشركة بكل تفاصيلها المختلفة في كل المجالات.
          هنا يكتب تفاصيل الشركة بكل تفاصيلها المختلفة في كل المجالات.
          هنا يكتب تفاصيل الشركة بكل تفاصيلها المختلفة في كل المجالات.
          هنا يكتب تفاصيل الشركة بكل تفاصيلها المختلفة في كل المجالات.
        </p>
      </div>

    
       <div class="w-full md:w-1/2">
        <img 
          src="../../../../assets/images/whoeWe.png" 
          alt="من نحن" 
          class="rounded-xl w-full h-auto object-cover"
        />
      </div>
    </div>
  </div>
  

  <!-- Footer Section -->
  <footer class=" text-white py-10 px-4">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 text-center md:text-right">
    
      <div class="flex flex-col items-center md:items-end justify-end space-y-4">
        <div>
          <h3 class="font-semibold mb-4">تحميل التطبيق</h3>
          <div class="flex justify-center md:justify-end items-center gap-4">
            <a href="#">
              <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
                alt="Google Play" class="h-10">
            </a>
            <a href="#">
              <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" alt="App Store"
                class="h-10">
            </a>
          </div>
        </div>
      </div>
  
      <div></div>

      <div class="text-center md:text-left space-y-3">
        <h3 class="text-xl font-bold text-right">رجعهولي.كوم</h3>
        <p class="text-sm text-gray-400 leading-relaxed text-right">
          لوريم إيبسوم دولار سيت أميت فيسبيكياتور، تولت إيكتبات تيبسات رويس فيرسوس إنفيرس كورسيس إلأكتروني دروكوم
          فيسبيكياتور، بتحديث توايم موق نون إنتر لوريم إيبسوماتي.
        </p>
      </div>
    
  
     
    </div>
    <hr class="color-white  m-5">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 text-center md:text-right">
    
      <div class="flex flex-col items-center md:items-end justify-end space-y-4">
        <div>
          <div class="flex justify-center md:justify-end items-center gap-4">
            <a href="#">
              <img src="../../../../assets/images/twitter.png"  class="h-10 w-10">
            </a>
            <a href="#">
              <img src="../../../../assets/images/facebook.png"  class="h-10 w-10">
            </a>
            <a href="#">
              <img src="../../../../assets/images/linkedin.png"  class="h-10 w-10">
            </a>
          </div>
        </div>
      </div>
      <div></div>
      <div class="text-center md:text-left space-y-3">
        <p class="text-xl font-bold text-right">الخصوصية | الشروط | حقوق الاستثمار2025</p>
       
      </div>
  
    
      
     
    </div>
  </footer>
</body>

