<head>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<div *ngIf="isLoading" class="fixed inset-0 h-100 flex items-center justify-center z-50"
  style="background-color: #060B26;">
  <span class="loader"></span>
</div>

<body *ngIf="!isLoading" class="app-body text-white font-sans flex flex-col overflow-auto overflow-x-hidden ">



  <!-- Navbar -->
  <nav
    class="flex items-center justify-between px-4 md:px-12 py-4 bg-opacity-30 mt-5 mx-3 rounded-lg flex-wrap nav-features">


    <!-- Action Buttons (hidden on small screens) -->
    <div class="hidden md:flex items-center space-x-5">
      <a href="#"
        class="bg-white text-purple-700 px-4 h-16 flex items-center rounded-full font-semibold gradient-border">نزل
        التطبيق الآن</a>
      <a (click)="openWhatsApp()"
        class="border border-white px-4 h-16 flex items-center rounded-full text-white pointer">تحدث مع خبير</a>
    </div>


    <!-- Logo & Text -->
    <div class="w-full md:w-auto flex justify-center md:justify-start mb-2 md:mb-0">
      <div class="flex items-center">

        <span
          class="font-bold text-white px-2 text-[22px] md:text-2xl text-center md:text-right block w-full md:w-auto">
          rage3ly.com
        </span>
        <img src="/assets/images/logo-removebg2 (1).png" class="h-12  w-auto rounded" alt="logo">
      </div>
    </div>

  </nav>


  <!-- Hero Section -->
  <div class="bg-[#0c0021] flex-1 flex items-center justify-center px-4 py-0 lg:py-10">
    <div
      class="flex md:flex-row mobile-column items-center justify-between space-y-10 md:space-y-0 md:space-x-10 rtl:space-x-reverse"
      style="width: 85%;">

      <!-- الصورة -->
      <div class="image-section relative text-right rtl mt-20 justify-end">
        <img src="../../../../assets/images/Home.png" class="rounded-xl w-70" />
        <img src="../../../../assets/images/Product Card.png" class="absolute" style="top:40% ;left: 50%;" />
      </div>

      <!-- النص -->
      <div class="text-section md:w-1/2 text-end md:text-right space-y-6 justify-start ml-10">
        <span class="px-5 py-2 rounded-full inline-block border-thin font-24 sm-butnn">نساعدك للحفاظ على هاتفك</span>
        <h1 class="text-whi">احمي هاتفك من السرقة<br />احفظ حالته الآن</h1>
        <p class="text-gray font-18">تطبيق ذكي لحفظ حالة جهازك، مما يسهل استرجاعه عند الفقدان أو السرقة</p>
        <div class="flex flex-col sm:flex-row items-center justify-center md:justify-end gap-4 mt-6">
          <a href="#"
            class="bg-white text-purple-700 px-6 py-3 rounded-full font-semibold hover:text-purple-700 gradient-border sm-butn">نزل
            التطبيق الآن</a>
          <a (click)="openWhatsApp()"
            class="border border-white px-6 py-3 rounded-full hover:text-white sm-butn pointer">تحدث مع خبير</a>
        </div>
      </div>
        
      <!-- <img src="/assets/images/logo-removebg2 (1).png" class=" rounded" alt="logo"> -->

    </div>
  </div>




  <!-- Logos Section -->
  <!-- <div class="bg-[#0c0021]  py-8 text-white text-center">
    <p class="text-lg font-light mb-6 font-bold py-5">موثوق به من قبل الفرق في أكثر من 1000 من المؤسسات الرائدة في
      العالم</p>
    <div class="flex flex-wrap justify-center items-center gap-6 md:gap-10 px-4">
      <img src="../../../../../assets/images/ted.png" alt="ted" class="h-5 md:h-6" />
      <img src="../../../../../assets/images/lattice.png" alt="lattice" class="h-5 md:h-6" />
      <img src="../../../../../assets/images/ncr.png" alt="ncr" class="h-5 md:h-6" />
      <img src="../../../../../assets/images/pacifc.png" alt="Pacific" class="h-5 md:h-6" />
      <img src="../../../../../assets/images/rakuten.png" alt="rakuten" class="h-5 md:h-6" />
      <img src="../../../../../assets/images/zenDesk.png" alt="zenDesk" class="h-5 md:h-6" />
      <img src="../../../../../assets/images/dell.png" alt="Dell" class="h-5 md:h-6" />
    </div>
  </div> -->

  <!-- Features Section -->
  <section class="bg-[#0c0021]  text-white py-16 px-4 text-center">
    <div class=" max-w-7xl mx-auto">
      <div class="flex justify-center items-center gap-3 mb-4">
        <h2 class="text-3xl md:text-4xl font-bold">
          مميزات تعمل لأجلك
        </h2>
        <img 
          src="/assets/images/logo-removebg2 (1).png" 
          alt="logo" 
          class="h-12 w-12 rounded"
        >
      </div>
      
      

      <p class="text-gray-400 mb-20">اكتشف ميزاتنا بنفسك</p>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-right mt-2">



        <!-- Card 1 -->
        <div class="custom-card rounded-xl p-6 transition duration-300 border-sm border-purple-900">
          <div class="flex justify-end">
            <img src="../../../../../assets/images/icon1.png" alt="تغيير الحالة" class="" />
          </div>
          <h3 class="text-xl font-semibold mb-2 ft-lg">تسجيل بيانات الهاتف المفقود بدقة</h3>

        </div>


        <!-- Card 2 -->
        <div class="custom-card rounded-xl p-6 transition duration-300 border-sm border-purple-900 ">
          <div class="flex justify-end">
            <img src="../../../../../assets/images/icon2.png" alt="حماية الهواتف" />
          </div>
          <h3 class="text-xl font-semibold mb-2 ft-lg">نظام اشعارات تلقائي عند وجود تطابق او ابلاغ</h3>

        </div>
        <!-- Card 3-->
        <div class="custom-card rounded-xl p-6 transition duration-300 border-sm border-purple-900">
          <div class="flex justify-end">
            <img src="../../../../../assets/images/icon3.png" alt="البحث عن هاتف" />
          </div>

          <h2 class="text-xl font-semibold mb-2 ft-lg">يساعدك في البحث عن حالة هاتف</h2>

        </div>
      </div>


      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-right mt-4">





        <!-- Card 4 -->
        <div class="custom-card rounded-xl p-6 transition duration-300 border-sm border-purple-900">
          <div class="flex justify-end">
            <img src="../../../../../assets/images/icon6.png" alt="دعم فني" />
          </div>

          <h2 class="text-xl font-semibold mb-2 ft-lg">الدعم الفني المستمر ومتابعة لكل الاستفسارات</h2>

        </div>
        <!-- Card 5-->

        <div class="custom-card rounded-xl p-6 transition duration-300 border-sm border-purple-900 ">
          <div class="flex justify-end">
            <img src="../../../../../assets/images/icon5.png" alt="قاعدة بيانات" />
          </div>
          <h3 class="text-xl font-semibold mb-2 ft-lg">قاعدة بيانات مشتركة بين المستخدمين</h3>

        </div>
        <!-- Card 6 -->
        <div class="custom-card rounded-xl p-6 transition duration-300 border-sm border-purple-900">
          <div class="flex justify-end">
            <img src="../../../../../assets/images/icon4.png" alt="وجهة سهلة" class="" />
          </div>
          <h3 class="text-xl font-semibold mb-2 ft-lg">واجهة سهلة الاستخدام وعملية</h3>

        </div>

      </div>
    </div>
  </section>




  <!-- Features2 Section -->
  <section class=" text-white py-16 px-4">
    <div class="max-w-7xl mx-auto rounded-2xl shadow-xl px-6 py-12 text-center bg-col">
      <div class="flex justify-center items-center gap-3 mb-4">
        <h2 class="text-4xl md:text-4xl font-bold ">
          القيم
        </h2>
        <img 
          src="/assets/images/logo-removebg2 (1).png" 
          alt="logo" 
          class="h-12 w-12 rounded"
        >
      </div>
      <p class="text-gray-400 text-lg mb-20">اكتشف قيمنا </p>

      <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <!-- Card -->
        <div class=" card-col rounded-xl p-8 transition duration-300 ">
          <div class="flex justify-center mb-4">
            <div class="bg-opacity-30 rounded-xl p-3 ">
              <img src="../../../../../assets/images/coop.png" alt="التعاون" />
            </div>
          </div>
          <h3 class="text-2xl font-semibold">التعاون</h3>
        </div>

        <!-- Repeat for other cards -->
        <div class="card-col  rounded-xl p-8 transition duration-300 ">
          <div class="flex justify-center mb-4">
            <div class=" bg-opacity-30 rounded-xl p-3">
              <img src="../../../../../assets/images/privacy.png" alt="الخصوصية" />
            </div>
          </div>
          <h3 class="text-2xl font-semibold">الخصوصية</h3>
        </div>

        <div class=" card-col  rounded-xl p-8 transition duration-300 ">
          <div class="flex justify-center mb-4">
            <div class=" bg-opacity-30 rounded-xl p-3 ">
              <img src="../../../../../assets/images/aman.png" alt="الأمان" />
            </div>
          </div>
          <h3 class="text-2xl font-semibold">الأمان</h3>
        </div>

        <div class=" card-col  rounded-xl p-8 transition duration-300 ">
          <div class="flex justify-center mb-4">
            <div class=" bg-opacity-30 rounded-xl p-3 ">
              <img src="../../../../../assets/images/trans.png" alt="الشفافية" />
            </div>
          </div>
          <h3 class="text-2xl font-semibold">الشفافية</h3>
        </div>

        <div class=" card-col  rounded-xl p-8 transition duration-300 ">
          <div class="flex justify-center mb-4">
            <div class=" bg-opacity-30 rounded-xl p-3 ">
              <img src="../../../../../assets/images/ibtkar.png" alt="الابتكار" />

            </div>
          </div>
          <h3 class="text-2xl font-semibold">الابتكار</h3>
        </div>

        <div class="card-col  rounded-xl p-8 transition duration-300 ">
          <div class="flex justify-center mb-4">
            <div class=" bg-opacity-30 rounded-xl p-3 ">
              <img src="../../../../../assets/images/ibdaa.png" alt="الإبداع" />
            </div>
          </div>
          <h3 class="text-2xl font-semibold">الإبداع</h3>
        </div>
      </div>
    </div>
  </section>




  <!-- Timeline Section -->

  <section class="text-white py-5 position-relative">
    <div class="container">
      <div class="text-center mb-5">

        <div class="flex justify-center items-center gap-3 mb-4">
          <h2 class="text-4xl md:text-4xl font-bold ">
            اهداف التطبيق
          </h2>
          <img 
            src="/assets/images/logo-removebg2 (1).png" 
            alt="logo" 
            class="h-12 w-12 rounded"
          >
        </div>
        <p class="text-gray-400">اكتشف اهداف التطبيق المتميزة</p>
      </div>

      <div class="position-relative">
        <!-- الخط العمودي -->
        <div
          class="position-absolute top-0 start-50 translate-middle-x h-100 border-end border-purple border-3 d-none d-md-block">
        </div>

        <!-- عنصر 1 -->
        <!-- عنصر 1 -->
        <div class="row mb-5 align-items-center timeline-item right-card">
          <div class="col-md-6 offset-md-6 d-flex align-items-center">
            <img src="../../../../assets/icons/1.png" class="timeline-icon me-3 d-block">
            <div class="bg-card p-4 shadow goal-card cr3 text-end">
              <div class="d-flex justify-content-end my-2">
                <img src="../../../../assets/icons/target.png" class="target-icon">
              </div>
              <p class="mb-0">تمكين المستخدم من استرجاع هاتفه المفقود بسهولة</p>
            </div>
          </div>
        </div>

        <!-- عنصر 2 -->
        <div class="row mb-5 align-items-center timeline-item left-card">
          <div class="col-md-6 d-flex align-items-center justify-content-end">
            <img src="../../../../assets/icons/2.png" class="timeline-icon me-3 d-block">
            <div class="bg-card p-4 shadow goal-card cr3 text-end">
              <div class="d-flex justify-content-end my-2">

                <img src="../../../../assets/icons/target.png" class="target-icon">
              </div>
              <p class="mb-0">تقليل الخسائر الناتجة عن سرقة أو فقدان الهواتف</p>
            </div>
          </div>
        </div>


        <!-- عنصر 3 -->
        <div class="row mb-5 align-items-center timeline-item right-card">
          <div class="col-md-6 offset-md-6 d-flex align-items-center">
            <img src="../../../../assets/icons/3.png" class="timeline-icon me-3 d-block">
            <div class="bg-card p-4 shadow goal-card cr3 text-end">
              <div class="d-flex justify-content-end my-2">
                <img src="../../../../assets/icons/target.png" class="target-icon">
              </div>
              <p class="mb-0 ">تعزيز روح التعاون والمسؤولية المجتمعية</p>
            </div>
          </div>
        </div>

        <!-- عنصر 4 -->
        <div class="row mb-5 align-items-center timeline-item left-card">
          <div class="col-md-6 d-flex align-items-center justify-content-end">
            <img src="../../../../assets/icons/4.png" class="timeline-icon me-3 d-block">
            <div class="bg-card p-4 shadow goal-card  cr3 text-end">
              <div class="d-flex justify-content-end my-2">
                <img src="../../../../assets/icons/target.png" class="target-icon">
              </div>
              <p class="mb-0">تقديم حلول تقنية فعالة لتحديد موقع الهاتف المفقود</p>
            </div>
          </div>
        </div>

        <!-- عنصر 5 -->
        <div class="row mb-5 align-items-center timeline-item right-card">
          <div class="col-md-6 offset-md-6 d-flex align-items-center">
            <img src="../../../../assets/icons/5.png" class="timeline-icon me-3 d-block">
            <div class="bg-card p-4 shadow goal-card  cr3 text-end">
              <div class="d-flex justify-content-end my-2">
                <img src="../../../../assets/icons/target.png" class="target-icon">
              </div>
              <p class="mb-0 ">بناء قاعدة بيانات موحدة للأجهزة المفقودة</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <!-- who we Section -->
  <div class="bg-[#0c0021] py-16 px-6">
    <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center md:items-start gap-10 text-white">

      <!-- Text Section -->
      <div class="w-full md:w-1/2 text-right mt-16">
        <h2 class="text-3xl md:text-5xl font-bold mb-6 leading-tight">رسالتنا</h2>
        <p class="text-base md:text-lg leading-loose mb-6">
          نحن نسعى لخلق بيئة رقمية آمنة تمكن الأفراد من استرجاع أجهزتهم الضائعة بسهولة عبر التكنولوجيا الحديثة والتعاون
          المجتمعي، مع ضمان حماية الخصوصية وبيانات المستخدم.
        </p>
        <a href="#"
          class="bg-white text-purple-700 px-5 py-3 text-base rounded-full font-semibold gradient-border inline-flex items-center gap-3">
          <img src="../../../../assets/icons/row.png" alt="سهم" class="w-6 h-6" />
          نزل التطبيق الآن
        </a>
      </div>

      <!-- Image Section -->
      <div class="w-full md:w-1/2">
        <img src="../../../../assets/images/whoeWe.png" alt="من نحن" class="rounded-xl w-full h-auto object-cover" />
      </div>
    </div>
  </div>




  <!-- numbers Section -->
  <section class="py-16 bg-gradiennt text-white">
    <div
      class="max-w-6xl mx-auto px-4 pt-20 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 text-center justify-items-center">


      <!-- Box 1 -->
      <div>
        <h3 class="num-font">+0</h3>
        <p class="word-font">مستخدم للتطبيق</p>
      </div>

      <!-- Box 2 -->
      <div>
        <h3 class="num-font ">+0</h3>
        <p class="word-font">الهواتف المُسجله</p>
      </div>

      <!-- Box 3 -->
      <div>
        <h3 class="num-font">+0</h3>
        <p class="word-font">الهواتف المرتجعة</p>
      </div>

    </div>
  </section>


  <!-- Hero Section -->
  <div class="bg-[#0c0021] flex-1 flex items-center justify-center px-4 py-0 lg:py-10">
    <div
      class="flex md:flex-row mobile-column items-center justify-between space-y-10 md:space-y-0 md:space-x-10 rtl:space-x-reverse"
      style="width: 85%;">

      <!-- الصورة -->
      <div class="image-section relative text-right rtl mt-20 justify-end">
        <img src="../../../../assets/images/Home.png" class="rounded-xl w-70" />
        <img src="../../../../assets/images/Product Card1.png" class="absolute" style="top:40% ;left: 50%;" />
      </div>

      <!-- النص -->
      <div class="text-section md:w-1/2 text-end md:text-right space-y-6 justify-start ml-10">
        <h1 class="text-whi">قم بتغيير الحالة عند فقدان هاتفك في الحال</h1>
        <p class="text-gray font-18">قم بتحويل حالة الهاتف لحالة مسروق وقم باضافة الطلبات لاثبات حالة الهاتف المسروق</p>

      </div>

    </div>
  </div>



  <!-- Footer Section -->
  <footer class="bg-[#0c0021] text-white py-10 px-4">
    <div class="bg-[#0c0021] max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 text-center md:text-right">

      <div class="flex flex-col items-center md:items-end justify-end space-y-4">
        <div>
          <h3 class="font-semibold mb-4">تحميل التطبيق</h3>
          <div class="flex justify-center md:justify-end items-center gap-4">
            <a href="#">
              <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
                alt="Google Play" class="h-10">
            </a>
            <a href="#">
              <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
                alt="App Store" class="h-10">
            </a>
          </div>
        </div>
      </div>

      <div></div>

      <!-- <div class="bg-[#0c0021] text-center md:text-left space-y-3">
        <h3 class="text-xl font-bold text-right"> rage3ly.com</h3>
           <img src="/assets/images/logo-removebg2 (1).png" class="h-12  w-15 rounded" alt="logo">
        <p class="text-sm text-gray-400 leading-relaxed text-right">
          لوريم إيبسوم دولار سيت أميت فيسبيكياتور، تولت إيكتبات تيبسات رويس فيرسوس إنفيرس كورسيس إلأكتروني دروكوم
          فيسبيكياتور، بتحديث توايم موق نون إنتر لوريم إيبسوماتي.
        </p>
      </div> -->

      <div class="bg-[#0c0021] text-white py-4 px-6">
        <div class="flex flex-row-reverse items-center justify-center gap-3">
          <img src="/assets/images/logo-removebg2 (1).png" class="h-12 w-12 rounded" style="height: 50%; width: 50%;" alt="logo" />
          <!-- <h3 class="text-[22px] md:text-2xl font-bold mt-2">rage3ly.com</h3> -->
        </div>
      </div>


    </div>
    <hr class="color-white  m-5">
    <div class="bg-[#0c0021] max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 text-center md:text-right">

      <div class="flex flex-col items-center md:items-end justify-end space-y-4">
        <div>
          <div class="flex justify-center md:justify-end items-center gap-4">
            <a href="#" target="_blank">
              <img src="../../../../assets/images/tiktok.png" class="h-10 w-10">
            </a>
            <a href="https://www.facebook.com/Rage3ly" target="_blank">
              <img src="../../../../assets/images/facebook.png" class="h-10 w-10">
            </a>
            <a href="https://www.linkedin.com/company/rage3ly" target="_blank">
              <img src="../../../../assets/images/linkedin.png" class="h-10 w-10">
            </a>
            <button (click)="openWhatsApp()" target="_blank">
              <img src="../../../../assets/images/whatsap.png" class="h-10 w-10">
            </button>



          </div>
        </div>
      </div>
      <div></div>
      <div class="text-center md:text-left space-y-3">
        <p class="text-xl font-bold text-right">الخصوصية | الشروط | حقوق الاستثمار2025</p>

      </div>




    </div>
  </footer>
</body>