<div class="container py-5 justify-content-between" style="min-height: 100vh;">
    <!-- Profile Options Grid -->

      <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">

      <div class="col text-center ">
        <div class="p-4 border  cr5" routerLink="/sites/employeeProfile/profileSetting">
          <img src="../../../../../../assets/images/person.png">
          <p class="fw-bold mt-2 text-white">{{"sites.employee-profile.profileSettings"|translate}}</p>
        </div>
      </div>
      <div class="col text-center h-100" *ngIf="hasFeature(featureEnum.ChangePassword)">
        <div class="p-4 border cr5" routerLink="/sites/employeeProfile/changePassword">
          <img src="../assets/images/password.png">
          <p class="fw-bold mt-2 text-white">{{"sites.employee-profile.changePassword"|translate}}</p>
        </div>
      </div>
     
      <!-- <div class="col text-center">
        <div class="p-4 border  cr5" routerLink="/sites/employeeProfile/notification">
          <img src="../assets/images/notifications_active.png">
          <p class="fw-bold mt-2 text-white">{{"sites.employee-profile.notification"|translate}}</p>
        </div>
      </div> -->
     
    </div>
  </div>
  
  
  
  