<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid px-4">
    <a class="navbar-brand" >CarOils</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex justify-content-center align-items-center w-100 mx-4" role="search">
        <input type="text" class="form-control cr2 pad-8-16 search-input w-100" placeholder="Search...">
      </form>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" >Lang</a>
          <img src="/assets/images/Line.svg" class="m-auto" alt="separate" class="mx-2">
        </li>
        <li class="nav-item" *ngIf="websiteService.userInfo" [title]="websiteService.userInfo?.name">
          <img src="/assets/images/person_outline.svg" alt="User Icon" class="nav-icon">
          <a class="nav-link" routerLink="/tahwesha/profile">{{websiteService.userInfo?.name?.slice(0,5) + '...'}}</a>
          <img src="/assets/images/Line.svg" class="m-auto" alt="separate" class="mx-2">
        </li>
        <li class="nav-item pointer" *ngIf="!websiteService.userInfo" [routerLink]="'/auth/login'" >
          <img src="/assets/images/person_outline.svg" alt="User Icon" class="nav-icon">
          <a class="nav-link" routerLink="#">Login</a>
          <img src="/assets/images/Line.svg" class="m-auto" alt="separate" class="mx-2">
        </li>
       
        
      
        <li class="nav-item pointer" (click)="signOut()" >
          <img src="/assets/icons/signOut.png" alt="Sign out Icon" class="nav-icon d-block" [style]="{width: '30px'}" >
          <a class="nav-link"   
            >SignOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
