<div class="main-panel bg-Dark">
  <div class="navbar fixed-navbar bord-bottom py-2 d-flex justify-content-between align-items-center px-4">
    <div class="w-75 d-flex align-items-center px-2">
      <!-- <h1 class="m-0 color-white">{{"shared.mainLayout.hello" | translate}}</h1> -->
      <div class="d-flex align-items-center ms-auto">
        <div class="d-flex align-items-center pointer" routerLink="/sites/employeeProfile">
          <img src="./assets/images/avataaar.png" alt="User Image" class="rounded-circle" width="40" height="40">
          <div class="ms-2">
            <span class="ts color-white text-nowrap">{{ userName }}</span><br>
            <small class="ts color-white">{{ userRole }}</small>
          </div>
        </div>

        <!-- Language Switcher -->
        <div class="dropdown ms-3 position-relative">
          <button #langButton
            class="btn btn-outline-light dropdown-toggle d-flex align-items-center rounded-pill px-3 py-1" type="button"
            (click)="toggleLangOptions()">
            🌐 <span class="ms-2">{{ currentLang.toUpperCase() }}</span>
          </button>

          <!-- Dropdown (Centered Below Button) -->
          <div #langDropdown
            class="dropdown-menu show custom-lang-dropdown position-absolute start-50 translate-middle-x mt-2"
            *ngIf="showLangOptions">
            <a class="dropdown-item lang-option text-white" (click)="changeLang('en')">
              <span class="me-2">🇺🇸</span> English
            </a>
            <a class="dropdown-item lang-option text-white" (click)="changeLang('ar')">
              <span class="me-2">🇸🇦</span> العربية
            </a>
          </div>

        </div>
        <!-- Hamburger Menu Button - Align to the right -->
        <div class="dropdown  position-relative d-lg-none text-white mx-2 ">
          <button class="btn btn-outline-light dropdown-toggle d-flex align-items-center rounded-pill px-3 py-1"
            (click)="toggleSidebar()">
            <span class="ms-2">{{"shared.mainLayout.items"|translate}}</span>
          </button>

          <!-- Dropdown Menu (only visible on mobile when showSidebarMenu is true) -->
          <div class="dropdown-menu show position-absolute start-50 translate-middle-x mt-2 px-2 custom-lang-dropdown"
            *ngIf="showSidebarMenu">
            <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center fontStyle"
              routerLink="/sites/dashboard" routerLinkActive="active" #DashboardRla="routerLinkActive"
              [ngClass]="{ 'active-color': DashboardRla.isActive }" (click)="toggleSidebar()">
              {{ "sites.layout.dashboard" | translate }}
              <img
                [src]="DashboardRla.isActive ? 'assets/images/ActiveDashboard.png' : 'assets/images/DisActiveDashboard.png'"
                class="px-1 nav-icon">

            </a>
            <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center fontStyle"
              routerLink="/sites/mobile" routerLinkActive="active" #mobileRla="routerLinkActive"
              [ngClass]="{ 'active-color': mobileRla.isActive }" (click)="toggleSidebar()"
              (mouseenter)="setActiveLink('mobile')" (mouseleave)="setActiveLink('')">
              {{ "sites.layout.mobile" | translate }}
              <img [src]="mobileRla.isActive ? 'assets/images/Icon-mobile-Active.png' : 'assets/images/mobile.png'"
                class="px-1 nav-icon">
            </a>
            <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center fontStyle"
              routerLink="/sites/ads" routerLinkActive="active" #adsRla="routerLinkActive"
              [ngClass]="{ 'active-color': adsRla.isActive }" (click)="toggleSidebar()">
              {{ "sites.layout.adverdisments" | translate }}
              <img [src]="adsRla.isActive ? 'assets/images/Icon.png' : 'assets/images/Icon-notActive.png'"
                class="px-1 nav-icon">
            </a>
            <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center fontStyle"
              routerLink="/sites/customers" routerLinkActive="active" #clientsRla="routerLinkActive"
              [ngClass]="{ 'active-color': clientsRla.isActive }" (click)="toggleSidebar()">
              {{ "sites.layout.clients" | translate }}
              <img [src]="clientsRla.isActive ? 'assets/images/Icon-Clients.png' : 'assets/images/Icon@2x.png'"
                class="px-1 nav-icon">
            </a>
            <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center fontStyle"
              routerLink="/sites/jobTitle" routerLinkActive="active" #usersRla="routerLinkActive"
              [ngClass]="{ 'active-color': usersRla.isActive }" (click)="toggleSidebar()">
              {{ "sites.layout.users" | translate }}
              <img [src]="usersRla.isActive ? 'assets/images/IconEmpActive.png' : 'assets/images/IconEmp.png'"
                class="px-1 nav-icon">
            </a>
            <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center fontStyle"
              routerLink="/sites/roles" routerLinkActive="active" #RolesRla="routerLinkActive"
              [ngClass]="{ 'active-color': RolesRla.isActive }" (click)="toggleSidebar()">
              {{ "sites.layout.roles" | translate }}
              <img [src]="RolesRla.isActive ? 'assets/images/roleActive.png' : 'assets/images/roleNotActive.png'"
                class="px-1 nav-icon">
            </a>
            <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center fontStyle"
              routerLink="/sites/governorate" routerLinkActive="active" #governorateRla="routerLinkActive"
              [ngClass]="{ 'active-color': governorateRla.isActive }" (mouseenter)="setActiveLink('governorate')"
              (mouseleave)="setActiveLink('')">
              {{ "sites.layout.governorate" | translate }}
              <img
                [src]="governorateRla.isActive || activeLink === 'governorate' ? 'assets/images/governorateActive.png' : 'assets/images/governorateNotActive.png'"
                class="px-1 nav-icon">
            </a>
            <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center fontStyle"
              routerLink="/sites/city" routerLinkActive="active" #cityRla="routerLinkActive"
              [ngClass]="{ 'active-color': cityRla.isActive }" (mouseenter)="setActiveLink('city')"
              (mouseleave)="setActiveLink('')">
              {{ "sites.layout.city" | translate }}
              <img
                [src]="cityRla.isActive || activeLink === 'city' ? 'assets/images/cityActive.png' : 'assets/images/cityNotActive.png'"
                class="px-1 nav-icon">
            </a>


            <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center fontStyle"
              routerLink="/sites/brand" routerLinkActive="active" #BrandRla="routerLinkActive"
              [ngClass]="{ 'active-color': BrandRla.isActive }" (click)="toggleSidebar()">
              {{ "sites.layout.brand" | translate }}
              <img [src]="BrandRla.isActive ? 'assets/images/Icon-Clients.png' : 'assets/images/Icon@2x.png'"
                class="px-1 nav-icon">
            </a>
            <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center fontStyle"
              routerLink="/sites/search" routerLinkActive="active" #SearchRla="routerLinkActive"
              [ngClass]="{ 'active-color': SearchRla.isActive }" (click)="toggleSidebar()">
              {{ "sites.layout.search" | translate }}
              <img [src]="SearchRla.isActive ? 'assets/icons/ActiveSearch.png' : 'assets/icons/DisactiveSearch.png'"
                class="px-1 nav-icon">
            </a>

            <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center fontStyle"
              routerLink="/sites/notification" routerLinkActive="active" #searchOfStolenPhoneRla="routerLinkActive"
              [ngClass]="{ 'active-color': searchOfStolenPhoneRla.isActive }" (click)="toggleSidebar()">
              {{ "sites.layout.searchOfStolenPhone" | translate }}
              <img
                [src]="searchOfStolenPhoneRla.isActive ? 'assets/icons/ActiveSearch.png' : 'assets/icons/DisactiveSearch.png'"
                class="px-1 nav-icon">
            </a>
            <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center fontStyle"
              routerLink="/sites/transferOfOwnership" routerLinkActive="active"
              #TransferOfOwnershipRla="routerLinkActive" [ngClass]="{ 'active-color': TransferOfOwnershipRla.isActive }"
              (click)="toggleSidebar()">
              {{ "sites.layout.ownership" | translate }}
              <img
                [src]="TransferOfOwnershipRla.isActive ? 'assets/images/tranferActive.png' : 'assets/images/transferNotActive.png'"
                class="px-1 nav-icon">
            </a>

            <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center fontStyle"
              routerLink="/sites/requestToTransferAStolenPhone" routerLinkActive="active"
              #RequestsRla="routerLinkActive" [ngClass]="{ 'active-color': RequestsRla.isActive }"
              (click)="toggleSidebar()">
              {{ "sites.layout.requests" | translate }}
              <img
                [src]="RequestsRla.isActive ? 'assets/images/requestActive.png' : 'assets/images/requestNotActive.png'"
                class="px-1 nav-icon">
            </a>

            <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center fontStyle"
              routerLink="/sites/retrivedPhones" routerLinkActive="active" #retrivedPhonesRla="routerLinkActive"
              [ngClass]="{ 'active-color': retrivedPhonesRla.isActive }" (click)="toggleSidebar()">
              {{ "sites.layout.retrivedPhones" | translate }}
              <img
                [src]="retrivedPhonesRla.isActive ? 'assets/images/retrivedPhoneActive.png' : 'assets/images/retrivedPhoneNotActive.png'"
                class="px-1 nav-icon">
            </a>

            <a class="mt-auto cr3 w-75 text-center  ">
              <button class="btn  bg-red-dark cr3 text-white w-100 btn-large-height hover" (click)="logout()">
                {{ "sites.layout.signOut" | translate }}
              </button>
            </a>

          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="main-page ">
    <router-outlet></router-outlet>
  </div>
</div>