<div class="main-panel bg-Dark">
    <div class="navbar bord-bottom py-2 d-flex justify-content-between align-items-center px-4">
        <div class="w-75 d-flex align-items-center ">
          <h1 class="m-0 color-white">Hello</h1>
      
          <div class="d-flex align-items-center ms-auto ">
            <div class="d-flex align-items-center  pointer" routerLink="/sites/employeeProfile">
              <img src="./assets/images/avataaar.png" alt="User Image" class="rounded-circle" width="40" height="40">
              <div class="ms-2">
                <span class="ts color-white text-nowrap">{{ userName }}</span><br>
                <small class="ts color-white">{{ userRole }}</small>
              </div>
            </div>
      
           
          </div>
        </div>
      </div>
      

    <div class="main-page ">
        <router-outlet></router-outlet>
    </div>
</div>