.custom-role {
    background-color: #1d223f;
    color: white;
    border: 1px solid white !important;
}

.table thead th {
    border-bottom: none !important;
  }
  
 
  .table tbody td {
    background-color: #1d223f; 
   
  }
  

  .table {
    
    border-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .table th {
    background-color: #1d223f;
    text-align: left;
    font-size: 12px;
    color: #535862;
  }
  
  .table td {
    padding: 12px;
    vertical-align: middle;
 
  }
  
  .table tbody td:first-child {
    background-color: #1d223f !important;
  }
  .role{
    color: #972ccc;
    font-size: 14px;
  }


  body {
    background-color: #060B26;
    color: #fff;
    font-family: 'Cairo', sans-serif;
  }
  
  .card {
    background-color: #0B1437;
    border: none;
    border-radius: 8px;
  }
  
  .btn-primary {
    background-color: #4DC3FF;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #35b3f2;
  }
  
  .btn-danger {
    background-color: #B73C3C;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #a83232;
  }
  
  .table {
    background-color: transparent;
    color: #fff;
  }
  
  input,
  select {
    background-color: #0B1437;
    border: 1px solid #4DC3FF;
    color: #fff;
  }
  
  input::placeholder {
    color: #ccc;
  }
  .border-color{
    border-color: #535862;
  }
  .transparent-table {
    background-color: transparent;
    color: white;
    width: 100%; 
    border-collapse: collapse;
}

  
  .transparent-table thead {
    background-color: transparent;
    color: white;
  }
  
  .transparent-table tbody tr {
    background-color: transparent;
  }
  
  
  .transparent-table td,
  .transparent-table th {
      background-color: #1d223f !important; 
      color: white;
      border: 1px solid #1d223f;
  }
  
  .transparent-table img {
    border-radius: 0.5rem;
  }
  
  .transparent-table .pointer {
    cursor: pointer;
  }
  
  .border-gray-input {
    border: 1px solid rgb(190, 32, 32) !important;
    border-radius: 4px; 
    color: white;      
  }
  