.CR1 {
    border-radius: 0px;
}
.CR2 {
    border-radius: 2px;
}
.CR3 {
    border-radius: 4px;
}
.CR4 {
    border-radius: 6px;
}
.CR5 {
    border-radius: 8px;
}
.CR6 {
    border-radius: 12px;
}
.CR7 {
    border-radius: 16px;
}