<div class="row mx-0">
  <!-- Sign Up Section -->
  <div class="col-12 col-lg-4 p-0 bg-Dark">
    <div class="d-flex flex-column align-items-center justify-content-center vh-100">
      <div class="w-75">
        <h1 class="login-title bold pt-3" >{{"auth.register.signUp"|translate}}</h1>
        <p class="color-white mb-4">{{"auth.register.Please fill in the following details to create an account."|translate}}</p>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row mb-2">
            <div class="col-md-6">
              <ng-control [form]="registerForm" control="nationalNumber" label="auth.register.nationalId" placeholder="auth.register.nationalId"
                [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
                [labelClass]="registerForm.get('nationalNumber')?.invalid && (registerForm.get('nationalNumber')?.touched || registerForm.get('nationalNumber')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"
                (keypress)="numberOnly($event)">
              </ng-control>
            </div>
            <div class="col-md-6">
              <ng-control [form]="registerForm" control="name" label="auth.register.name" placeholder="auth.register.name"
                [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
                [labelClass]="registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'">
              </ng-control>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6">
              <ng-control [form]="registerForm" control="email" label="auth.register.email" placeholder="auth.register.email"
                [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
                [labelClass]="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'">
              </ng-control>
            </div>
            <div class="col-md-6">
              <ng-control [form]="registerForm" control="password" label="auth.register.password"
                [type]="controlType.PASSWORD" placeholder="********"
                [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
                [labelClass]="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'">
              </ng-control>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6">
              <ng-control [form]="registerForm" control="confirmPassword" label="auth.register.confirmPassword"
                [type]="controlType.PASSWORD" placeholder="*******"
                [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
                [labelClass]="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"
                (blur)="confirmPassword()">
              </ng-control>
              <p class="text text-danger font-12" *ngIf="!isEqualPassword">
                Passwords do not match
              </p>
            </div>
            <div class="col-md-6">
              <ng-control [form]="registerForm" control="mobile" label="auth.register.mobile" placeholder="01-xxx-xxx-xxx"
                [inputClass]="'mb-3 bg-Dark border-color'"
                [labelClass]="registerForm.get('mobile')?.invalid && (registerForm.get('mobile')?.touched || registerForm.get('mobile')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"
                (keypress)="numberOnly($event)">
              </ng-control>
            </div>
          </div>

          <button class="btn bg-brand w-100 mt-2 text-white"
            [disabled]="registerForm.invalid || isSubmitting || !isEqualPassword">
            {{"auth.register.signUp"|translate}}
          </button>
        </form>

        <p class="text-center mt-3" style=" color: #9454C6">
          {{"auth.register.haveAnAccount?"|translate}}
          <span class="pointer text-white" routerLink="/auth/login">  {{"auth.register.login"|translate}}</span>
        </p>
      </div>
    </div>
  </div>

  <!-- Image Section -->
  <div class="col-12 col-lg-8 p-0">
    <div class="d-flex justify-content-end align-items-end vh-100">
      <img src="/assets/images/Image Container.png" class="w-100 h-100 object-fit-cover" alt="signup">
    </div>
  </div>
</div>
