<!-- Container -->
<div class="d-flex min-vh-100 bg-Dark text-white container-fluid p-md-4">
  <div class="flex-grow-1 chang-width p-2 " style="width: 90%;">
    <div class="container-fluid">

      <!-- Search Card -->
      <div class="card p-4 mb-4" style="background-color: #1A1F3766;">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h5 class="mb-3 text-white">{{"sites.mobile.Search of Mobile"|translate}} </h5>
          <div class="totalItems cr7 px-3 py-1 ms-2">{{page.options.totalItems}}
            {{"sites.mobile.mobile"|translate}}
          </div>
        </div>
        <form [formGroup]="page.searchForm">
          <div class="form-body">
            <div class="row g-2">
              <div class="col-12 col-md-6 col-lg-2">
                <ng-control [form]="page.searchForm" control="SearchText" [inputClass]="'bg-Dark border-color'"
                  [labelClass]="'text-white'" label="sites.mobile.search" [placeholder]="( 'sites.mobile.userName'|translate ) + ', ' + 
                  ( 'sites.mobile.ClientEmail'|translate  ) + ', IMEI1 or IMEI2'">
                </ng-control>
              </div>

              <div class="col-12 col-md-6 col-lg-2"> <ng-control
                [type]="controlType.SELECT"
                [form]="page.searchForm"
                control="PhoneStatus"
                [inputClass]="'bg-Dark border-color text-white'"
                [labelClass]="'text-white'"
                label="sites.mobile.phoneStatus"
                placeholder="sites.mobile.phoneStatus"
                [items]="PhoneStatus"
                multiple="true"
                       ></ng-control>
              
             
              </div>


               <div class="col-12 col-md-6 col-lg-2"> <ng-control [type]="controlType.SELECT" [form]="page.searchForm"
                  control="Deleted" [inputClass]="'bg-Dark border-color text-white'" [labelClass]="'text-white'"
                  label="sites.mobile.deleted" placeholder="sites.mobile.deleted" [items]="DeletedList">
                </ng-control>
              </div>


              <!-- Search Button -->
              <div class="col-12 col-md-6 col-lg-2 d-flex align-items-end">
                <button class='color-brand-700 rb-btn  rb-btn-sm  w-100 border-color text-white w-100'
                  (click)="search()" [disabled]="page.searchForm.invalid || page.isSearching">
                  <i class="uil uil-search"></i>
                  <span class="rb-btn-text d-md-inline-block">
                    {{'shared.search'|translate}}</span>
                </button>
              </div>

            </div>
          </div>
        </form>





      </div>

      <!-- Ads Table Card -->
      <div class="card p-4 border-0 shadow-sm rounded-3" style="background-color: #1A1F3766;">
        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h5 class="text-white">{{"sites.mobile.mobile"|translate}} </h5>

          <div class="d-flex">
            <!-- <div class="position-relative">
              <button #downloadButton class="btn btn-primary me-2"
                (click)="toggleDownloadOptions()">{{"salesflow.Customers.download"|translate}}</button>

              <div #downloadOptions *ngIf="showDownloadOptions" class="download-options">
                <button (click)="downloadExcel()">Excel</button>
                <button (click)="downloadPDF()">PDF</button>
              </div>
            </div> -->



            <button class="btn btn-primary me-2"
              (click)="deleteSelectedPhones()">{{"sites.advertisment.delete"|translate}}</button>


          </div>
        </div>

        <!-- Table -->
        <div class=" scrolled mt-3 h-100 table-responsive">

          <table class="table text-center align-middle transparent-table">

            <thead>
              <tr>
                <th>
                  <input type="checkbox" (change)="toggleSelectAll($event)" [checked]="isAllSelected()" />
                </th>
                <ng-container *ngFor="let colum of page.columns">
                  <th (click)="onSortClicked(colum)" [class.pointer]="colum.Sortable">
                    <div class="d-flex justify-content-center align-items-center gap-1 w-100 h-100">
                      <span>{{ colum.Title | translate }}</span>
                      <i class="uil uil-sort" *ngIf="colum.Sortable" [ngClass]="{
                           'sort-icon-ase': isColumnAscending(colum),
                           'sort-icon-des': !isColumnAscending(colum)
                         }"></i>
                    </div>
                  </th>


                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="items.length === 0">
                <td colspan="100%"> {{"sites.mobile.No Phones"|translate}} </td>
              </tr>
              <tr *ngFor="let item of items | paginate: page.options; let i = index">
                <td><input type="checkbox" [(ngModel)]="item.selected" /></td>
                <td>{{ (page.options.currentPage - 1) * page.options.itemsPerPage + i + 1 }}</td>


                <td>{{ item.username }}</td>

                <td>{{ item.mobileModel }}</td>
                <td>{{ item.imeI1 }}</td>
                <td>{{ item.imeI2 }}</td>
                <td>{{ getPhoneStatusName(item.phoneStatus) }}</td>
                <td>{{ item.deleted }}</td>
                <td>
                  <div class="d-flex">
                    <button pButton icon="pi pi-trash"
                      class="p-button-rounded p-button-text p-button-danger p-0 pointer" aria-label="Delete"
                      (click)="showDeleteConfirmation(item)">
                    </button>
                    <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-info"
                      aria-label="Edit" (click)="editPhone(item.id)">
                    </button>

                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>


        <!-- Pagination -->
        <ng-pagination [page]="page" (pageSizeChange)="onChangePageSize()" (pageChange)="getNextPrevData($event)">
        </ng-pagination>
      </div>
    </div>
  </div>


</div>

<ng-template #confirmDeleteTemplate>
  <div class="modal-content bg-Dark text-white border border-secondary p-4 rounded">
    <div class="modal-body">
      <p class="modal-confirm-content mb-2">
        {{ 'shared.delete-confirmation.message' | translate }}
        <strong *ngIf="selectedItem">{{ selectedItem.Name }}</strong>
      </p>
      <div class="d-flex mt-4">
        <button type="button" class="btn btn-secondary me-auto"
          (click)="modalRef.hide()">{{"sites.mobile.cancel"|translate}}</button>
        <button type="button" class="btn btn-danger ms-2"
          (click)="remove(); modalRef.hide()">{{"sites.mobile.confirm"|translate}}</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Confirm Bulk Delete -->


<ng-template #confirmDeleteTemplates>
  <div class="modal-content bg-Dark text-white border border-secondary p-4 rounded">
    <div class="modal-body">
      <p class="modal-confirm-content mb-2">{{"sites.mobile.Are you sure you want to delete the selected
        Mobiles?"|translate}}</p>
      <div class="d-flex mt-4">
        <button class="btn btn-secondary me-auto" (click)="modalRef.hide()">{{"sites.mobile.cancel"|translate}}</button>
        <button class="btn btn-danger ms-2"
          (click)="modalRef.content.onConfirm(); modalRef.hide()">{{"sites.mobile.confirm"|translate}}</button>
      </div>
    </div>
  </div>

</ng-template>