<!-- Container -->
<div class="d-flex min-vh-100 bg-Dark text-white">
    <div class="flex-grow-1 p-2 chang-width" style="width: 90%;">
        <div class="container-fluid">

            <!-- Search Card -->
            <div class="card p-4 mb-4" style="background-color: #1A1F3766;">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="mb-3 text-white">{{ "sites.city.searchCities" | translate }}</h5>
                    <div class="totalItems cr7 px-3 py-1 ms-2">
                        {{ page.options.totalItems }} {{ "sites.city.cities" | translate }}
                    </div>
                </div>
                <form [formGroup]="page.searchForm">
                    <div class="form-body">
                        <div class="row g-2">
                            <div class="col-6 col-sm-3 mb-2">
                                <ng-control [form]="page.searchForm" control="CityName"
                                    [inputClass]="'bg-Dark border-color'" [labelClass]="'text-white'"
                                    label="sites.city.name" placeholder="sites.city.name">
                                </ng-control>
                            </div>
                            <div class="col-6 col-sm-3 mb-2">
                                <ng-control [type]="controlType.SELECT" [form]="page.searchForm" control="GovernorateId"
                                    [inputClass]="'bg-Dark border-color text-white'" [labelClass]="'text-white'"
                                    label="sites.city.governorateName" placeholder="sites.city.governorateName"
                                    [items]="governorates" multiple="true"></ng-control>
                            </div>
                            <!-- Search Button -->
                            <div class="col-6 col-sm-3 mb-2 d-flex flex-wrap gap-2 align-items-end">
                                <button class="color-brand-700 rb-btn rb-btn-sm w-100 border-color text-white"
                                    (click)="search()" [disabled]="page.searchForm.invalid || page.isSearching">
                                    <i class="uil uil-search"></i>
                                    <span class="rb-btn-text d-md-inline-block">{{ "shared.search" | translate }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card p-4 border-0 shadow-sm rounded-3" style="background-color: #1A1F3766;">
                <!-- Header -->
                <div class="d-flex flex-wrap gap-2 justify-content-between align-items-center mb-3">
                    <h5 class="text-white">{{ "sites.city.cities" | translate }}</h5>
                    <div class="d-flex flex-wrap gap-2">
                        <button class="btn btn-primary" (click)="activateCities()">{{ "sites.city.active" |
                            translate }}</button>
                        <button class="btn btn-primary" (click)="disActiveCities()">{{
                            "sites.city.disActive" |
                            translate }}</button>
                        <button class="btn btn-primary" (click)="deleteSelectedCities()">{{ "shared.delete" |
                            translate }}</button>
                        <button class="btn btn-primary" *ngIf="hasFeature(featureEnum.CreateCity)"
                            (click)="navigateToCreateCity()">{{ "sites.city.create" | translate
                            }}</button>
                    </div>
                </div>

                <!-- Table -->
                <div class="scrolled mt-3 h-100 table-responsive">
                    <table class="table  text-center align-middle transparent-table">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" (change)="toggleSelectAll($event)"
                                        [checked]="isAllSelected()" />
                                </th>
                                <ng-container *ngFor="let colum of page.columns">
                                    <th (click)="onSortClicked(colum)" [class.pointer]="colum.Sortable">
                                        {{ colum.Title | translate }}
                                        <i class="uil uil-sort ms-1" *ngIf="colum.Sortable" [ngClass]="{
                         'sort-icon-ase': isColumnAscending(colum),
                         'sort-icon-des': !isColumnAscending(colum)
                       }">
                                        </i>
                                    </th>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="items.length === 0">
                                <td colspan="100%">{{ "sites.city.noCities" | translate }}</td>
                            </tr>
                            <tr *ngFor="let item of items | paginate: page.options; let i = index">
                                <td><input type="checkbox" [(ngModel)]="item.selected" /></td>
                                <td>{{ (page.options.currentPage - 1) * page.options.itemsPerPage + i + 1 }}</td>
                                <td>{{ item.cityName }}</td>
                                <td>{{item.governorateName}}</td>
                                <td>
                                    <p-inputSwitch [(ngModel)]="item.isActive" [disabled]="page.isSaving"
                                        (ngModelChange)="updateActivation(item, item.isActive)">
                                    </p-inputSwitch>
                                </td>
                                <td>
                                    <button *ngIf="hasFeature(featureEnum.EditCity)" pButton icon="pi pi-pencil"
                                        class="p-button-rounded p-button-text p-button-info" aria-label="Edit"
                                        (click)="editCity(item.id); $event.stopPropagation()">
                                    </button>
                                    <button pButton icon="pi pi-trash"
                                        class="p-button-rounded p-button-text p-button-danger" aria-label="Delete"
                                        (click)="showDeleteConfirmation(item); $event.stopPropagation()">
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Pagination -->
                <ng-pagination [page]="page" (pageSizeChange)="onChangePageSize()"
                    (pageChange)="getNextPrevData($event)">
                </ng-pagination>
            </div>
        </div>
    </div>
</div>
<ng-template #confirmDeleteTemplate>
    <div class="modal-content confirm-modal">
        <div class="modal-body">
            <p class="modal-confirm-content mb-2">
                {{'shared.delete-confirmation.message'|translate}}
                <strong *ngIf="selectedItem">{{selectedItem.name}}</strong>
            </p>
            <div class="d-flex mt-4">
                <button type="button" class="btn cancel-btn me-auto"
                    (click)="modalRef.hide()">{{'sites.city.cancel'|translate}}</button>
                <button type="button" *ngIf="selectedItem" class="btn btn-without-icon bg-e5 ms-2"
                    (click)="remove();modalRef.hide();">{{'sites.city.confirm'|translate}}</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #confirmDeleteTemplates>
    <div class="modal-content confirm-modal">
        <div class="modal-body">
            <p class="modal-confirm-content mb-2 text-center">
                {{'sites.city.deleteSelectedCities'|translate}}
            </p>
            <div class="d-flex mt-4">
                <button type="button" class="btn cancel-btn me-auto"
                    (click)="modalRef.hide()">{{'sites.city.cancel'|translate}}</button>
                <button type="button" class="btn btn-without-icon bg-e5 ms-2"
                    (click)="modalRef.content.onConfirm(); modalRef.hide()">{{'sites.city.yes'|translate}}</button>
            </div>
        </div>
    </div>
</ng-template>