.sidebar-right {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  z-index: 1000;
}
.flex-grow-1 {
  margin-right: 250px; /* match the sidebar width */
}
.active-color{
  background-color: #1A1F3766;

}
.sidebar-right {
  border-left: 2px solid rgb(65 65 75); /* أو أي لون يناسبك */
}



.nav-icon {
  width: 35px;
  height: 35px;
  object-fit: contain; /* يحافظ على نسبة الأبعاد بدون تشويه */
}
