.sidebar-right {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  z-index: 1000;
}

.flex-grow-1 {
  margin-right: 250px; /* match the sidebar width */
}

.active-color {
  background-color: #121c5066;
}

.nav-link {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* smooth transition for color change */
}

.nav-link:hover {
  background-color: #121c5066;  /* Hover background color */
}

.nav-link:hover img {
  transform: scale(1.1); /* Zoom in the icon on hover */
}

.nav-icon {
  width: 35px;
  height: 35px;
  object-fit: contain; /* maintains aspect ratio without distortion */
}

.sidebar-right {
  border-left: 2px solid rgb(65 65 75); /* or any color that suits you */
}
.hover:hover {
  transform: scale(1.15); /* Slight zoom effect */
  transition: all 0.3s ease; /* Smooth transition */
}
@media (max-width: 768px) {
  .sidebar-right {
    position: relative;
    width: 100%;
    height: auto;
    border-left: none;
    border-top: 2px solid rgb(65 65 75);
    flex-direction: row;
    overflow-x: auto;
  }

  .nav-link {
    justify-content: center !important;
    text-align: center;
    font-size: 0.9rem;
    flex-direction: column-reverse !important;
  }

  .nav-icon {
    width: 25px;
    height: 25px;
  }

  .mt-auto.cr5 {
    margin-top: 1rem;
    width: 100% !important;
  }

  .flex-grow-1 {
    margin-right: 0;
  }
}
h1,h2,h3,h4,h5{
  font-family: 'Zain', serif !important;
 }

 p,span,button,nav,div,a ,label,td,form{
  font-family: 'Zain', serif !important;
  font-size: 18px;
 }
