<!-- Wrapper: full screen split using flex -->
<div class="d-flex min-vh-100">

  <!-- Sidebar -->
  <nav class="bg-Dark text-white py-4 sidebar-right d-flex flex-column align-items-center " style="width: 250px;">
    <div class="mb-4 text-center">
      <h5 class="fw-bold">Rage3ly.com</h5>
      <hr />
    </div>
    <div class="nav flex-column w-100 text-end">

      <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center" routerLink="/sites/ads" routerLinkActive="active" #rla="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{ 'active-color': rla.isActive }">
        ads
        <img [src]="rla.isActive ? 'assets/images/Icon.png' : 'assets/images/Icon-notActive.png'" class="px-1 nav-icon">
      </a>

      <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center" routerLink="/salesflow/customers" routerLinkActive="active"
        #rla="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }"
        [ngClass]="{ 'active-color': rla.isActive }">
        Clients
        <img [src]="rla.isActive ? 'assets/images/Icon@2x.png' : 'assets/images/Icon-Clients.png'"
          class="px-1 nav-icon">
      </a>

      <a class="nav-link text-white py-2 d-flex flex-row-reverse justify-content-end align-items-center" routerLink="/sites/jobTitle" routerLinkActive="active" #rla="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{ 'active-color': rla.isActive }">
        Users
        <img [src]="rla.isActive ? 'assets/images/IconEmpActive.png' : 'assets/images/IconEmp.png'"
          class="px-1 nav-icon">
      </a>
      <!-- <a class="nav-link text-white py-2" href="#"><i class="bi bi-phone"></i> الهواتف</a> -->
      <!-- <a class="nav-link text-white py-2" href="#"><i class="bi bi-person-badge"></i> صلاحيات المستخدمين</a>
      <a class="nav-link text-white py-2" href="#"><i class="bi bi-search"></i> نتائج البحث</a>
      <a class="nav-link text-white py-2" href="#"><i class="bi bi-bell"></i> إشعارات</a> -->
    </div>
    <div class="mt-auto cr5 w-75 text-center bg-red-dark">
      <button class="btn cr5 p-2 color-white w-100">
        <img src="assets/images/elements.png" class="px-2"> تسجيل خروج
      </button>
    </div>
  </nav>

  <!-- Main Layout (Top Navbar + Page Content) -->
  <div class="flex-grow-1 d-flex flex-column bg-Dark">
    <router-outlet></router-outlet>
  </div>
</div>