<div class="container py-5" style="min-height: 100vh;">
  <!-- Profile Options Grid -->
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col text-center ">
      <a class="p-4 border  cr5" routerLink="/tahwesha/profileSetting">
        <img src="../../../../../../assets/images/person.png">
        <p class="fw-bold mt-2">Profile Settings</p>
      </a>
    </div>
    <div class="col text-center h-100">
      <a class="p-4 border cr5" routerLink="/tahwesha/changePassword">
        <img src="../assets/images/password.png">
        <p class="fw-bold mt-2">Change Password</p>
      </a>
    </div>
    <div class="col text-center">
      <a class="p-4 border cr5" routerLink="/tahwesha/wishlist">
        <img src="../assets/images/favorite_border.png">
        <p class="fw-bold mt-2">Wishlist</p>
      </a>
    </div>
    <div class="col text-center">
      <a class="p-4 border cr5" routerLink="/tahwesha/orderHistory">
        <img src="../assets/images/history.png">
        <p class="fw-bold mt-2">Order History</p>
      </a>
    </div>
    <div class="col text-center">
      <a class="p-4 border cr5" routerLink="/tahwesha/transactionHistory">
        <img src="../assets/images/swap_horiz.png">
        <p class="fw-bold mt-2">Transaction History</p>
      </a>
    </div>
    <div class="col text-center">
      <a class="p-4 border  cr5" routerLink="/tahwesha/notification">
        <img src="../assets/images/notifications_active.png">
        <p class="fw-bold mt-2">Notification</p>
      </a>
    </div>
    <div class="col text-center">
      <a class="p-4 border  cr5" routerLink="/tahwesha/invoices">
        <img src="../assets/images/article.png">
        <p class="fw-bold mt-2">Invoices</p>
      </a>
    </div>
    <div class="col text-center">
      <a class="p-4 border  cr5" routerLink="/tahwesha/address">
        <img src="../assets/images/place.png">
        <p class="fw-bold mt-2">Address</p>
      </a>
    </div>
  </div>
</div>



