<div class="row mx-0">
  <!-- Login Section -->
  <div class="col-12 col-lg-4 p-0 bg-Dark">
    <div class="d-flex flex-column align-items-center justify-content-center vh-100">
      <div class="w-75 ">
        <h1 class="login-title bold">{{"auth.login.login"|translate}}</h1>
        <p class="color-white mb-4 ">{{"auth.login.enterThePhoneNumberandPassword"|translate}}.</p>
        <form [formGroup]="loginForm">
          <ng-control [form]="loginForm" control="mobile" [inputClass]="'mb-3 bg-Dark border-color'"
            [labelClass]="loginForm.get('mobile')?.invalid && (loginForm.get('mobile')?.touched || loginForm.get('mobile')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"
            label="auth.login.phoneNumberOrEmail" placeholder="01-xxx-xxx-xxx , Email" (keypress)="numberOnly($event)">
          </ng-control>
          <ng-control [form]="loginForm" [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'" 
            [labelClass]="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"
            control="password" label="auth.login.password" placeholder="********"
            [type]="controlType.PASSWORD"></ng-control>
          <p class="mb-4">
            <span  class="pointer color-brand"
              routerLink="/auth/phoneforgetpassword">{{"auth.login.forgotPassword?"|translate}}</span>
          </p>
          <button (click)="onSubmit()" class="btn bg-brand w-100 mt-4 text-white"
            [disabled]="loginForm.invalid || isSubmitting">
            {{"auth.login.login"|translate}}
          </button>
        </form>


        <p class="text-center mt-3" style=" color: #9454C6">
          {{"auth.login.haveNotAnAccount?"|translate}}
          <span class="pointer text-white" routerLink="/auth/register">  {{"auth.login.signUp"|translate}}</span>
        </p>
      </div>
    </div>
  </div>

  <!-- Image Section -->
  <div class="col-12 col-lg-8 p-0">
    <div class="d-flex justify-content-end align-items-end vh-100">
      <img src="../assets/images/loginPic.jpeg" class="w-100 h-100" alt="login">
    </div>
  </div>
</div>