<div class="container py-4 px-3"> <!-- Container for spacing from page edges -->
  <div class="card bg-Dark text-white p-4 shadow rounded-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <a class="mb-2 color-gray-800 ts-3 text-white" >
        <span class="expand-arrow " routerLink="/sites/jobTitle">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="white" stroke-width="2" viewBox="0 0 24 24">
            <path d="M8 5l8 7-8 7" />
          </svg>
        </span>
        {{ (page.isEdit ? 'shared.edit' : 'shared.create') | translate }} 
        {{"sites.employee.employee"|translate}}
      </a>
      <div class="d-flex">
        <button class="py-2 px-4 color-gray-25 no-border cr3 me-2 btn btn-primary"
                (click)="navigateToChangePassword(id)"
                *ngIf="page.isEdit">
          <span class="rb-btn-text">{{"sites.employee.changePassword"|translate}}</span>
        </button>
        <button class="btn btn-primary py-2 px-4 color-gray-25 no-border cr3 mx-2"
                (click)="Save()"
                [disabled]="page.form?.invalid || page.isSaving">
          <span class="rb-btn-text">{{ (page.isEdit ? 'shared.edit' : 'shared.create') | translate }}</span>
        </button>
      </div>
    </div>
    <hr class="border-light" />

    <ng-container *ngIf="page.isPageLoaded">
      <form [formGroup]="page.form">
        <div class="row g-3 pb-4">
          <div class="col-md-6">
            <ng-control [form]="page.form" control="name" 
                        label="sites.employee.employee" 
                        placeholder="sites.employee.employee"
                        [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
                        [labelClass]="page.form.get('name')?.invalid && (page.form.get('name')?.touched || page.form.get('name')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"></ng-control>
          </div>
          <div class="col-md-6">
            <ng-control [form]="page.form" control="email"
                        label="sites.employee.email"
                        placeholder="sites.employee.email"
                        [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
                        [labelClass]="page.form.get('email')?.invalid && (page.form.get('email')?.touched || page.form.get('email')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"></ng-control>
          </div>
        </div>

        <div class="row g-3 pb-4" *ngIf="!page.isEdit">
          <div class="col-md-6">
            <ng-control [form]="page.form"
                        [type]="controlType.PASSWORD"
                        control="password"
                        label="sites.employee.password"
                        [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
                        [labelClass]="page.form.get('password')?.invalid && (page.form.get('password')?.touched || page.form.get('password')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"
                        placeholder="*******"></ng-control>
          </div>
          <div class="col-md-6">
            <ng-control [form]="page.form"
                        [type]="controlType.PASSWORD"
                        control="confirmPassword"
                        label="sites.employee.confirmPassword"
                        [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
                        [labelClass]="page.form.get('confirmPassword')?.invalid && (page.form.get('confirmPassword')?.touched || page.form.get('confirmPassword')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"
                        placeholder="*******"
                        (blur)="confirmPassword()"></ng-control>
            <p class="text-danger font-12 mt-1" *ngIf="!isEqualPassword">
              {{"sites.employee.Passwords do not match"|translate}} 
            </p>
          </div>
        </div>

        <div class="row g-3">
          <div class="col-md-6" *ngIf="!page.isEdit">
            <ng-control [type]="page.ControlType.SELECT"
                        [form]="page.form"
                        control="roleId"
                        label="sites.employee.role"
                        placeholder="sites.employee.role"
                        [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
                        [labelClass]="page.form.get('roleId')?.invalid && (page.form.get('roleId')?.touched || page.form.get('roleId')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"
                        [items]="RolesEnum">
            </ng-control>
          </div>
          <div class="col-md-6">
            <ng-control [form]="page.form"
                        control="mobile"
                        label="sites.employee.mobile"
                        placeholder="sites.employee.mobile"
                        [inputClass]="'mb-2 bg-Dark border-color color-color-gray-300'"
                        [labelClass]="page.form.get('mobile')?.invalid && (page.form.get('mobile')?.touched || page.form.get('mobile')?.dirty) ? 'form-control-with-validate' : 'form-control-no-validate'"
                        (keypress)="numberOnly($event)">
            </ng-control>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
</div>
