<div class="row mx-0">
  <!-- OTP Section -->
  <div class="col-12 col-lg-4 p-0 bg-Dark">
    <div class="d-flex flex-column align-items-center justify-content-center vh-100">
      <div class="w-75">
        <h1 class="login-title bold">OTP</h1>
        <p class="color-white mb-4">Please verify your OTP.</p>

        <div class="d-flex align-items-center justify-content-center mb-4">
          <ng-otp-input 
            [config]="config" 
            (onInputChange)="onOtpChange($event)" 
            (keydown)="onKeyDown($event)" 
            dir="ltr">
          </ng-otp-input>
        </div>

        <button 
          type="submit" 
          class="btn bg-brand w-100 btn-lg text-white" 
          (click)="onSubmit()"
          [disabled]="isSubmitting || otp?.length < config.length">
          Verify OTP
        </button>

        <p *ngIf="resendTimer > 0" class="mt-4 " style=" color: #9454C6">
          Resend OTP in {{ resendTimer }} seconds
        </p>
        <p *ngIf="resendTimer === 0" class="mt-4 text-white pointer" (click)="resendOtp()">
          Resend OTP
        </p>
      </div>
    </div>
  </div>

  <!-- Image Section -->
  <div class="col-12 col-lg-8 p-0">
    <div class="d-flex justify-content-end align-items-end vh-100">
      <img src="/assets/images/Image Container.png" class="w-100 h-100 object-fit-cover" alt="otp">
    </div>
  </div>
</div>
