<div class="d-flex mt-4">
  <!-- Filter Section -->
  <div class="filter-column p-3 mb-3">
    <!-- Price Range Filter -->
    <label>Price Range</label>
    <div class="row">
      <div class="col-md-6">
        <input type="number" [(ngModel)]="filters.FromPrice" class="form-control" placeholder="Min Price" (ngModelChange)="applyFilters()">

      </div>
      <div class="col-md-6">
        <input type="number" [(ngModel)]="filters.ToPrice" class="form-control" placeholder="Max Price"
          (ngModelChange)="applyFilters()">
      </div>
    </div>

    <!-- Brand Filter -->
    <label class="mt-5">Brand</label>
    <input type="text" class="form-control mb-3" placeholder="Search brands..." [(ngModel)]="searchBrand"
      (ngModelChange)="filterBrands()">
    <div *ngIf="filteredBrands?.length > 0; else noBrands">
      <div *ngFor="let brand of filteredBrands">
        <input type="checkbox" [checked]="filters.BrandsId.includes(brand.id)"
          (change)="onBrandOrCategoryChange(brand.id, 'brand')">
        {{ brand.name }} ({{ brand.numberOfProducts }})
      </div>
    </div>
    <ng-template #noBrands>
      <p>No Brands Available</p>
    </ng-template>

    <!-- Category Filter -->
    <label class="mt-5">Category</label>
    <input type="text" class="form-control mb-3" placeholder="Search categories..." [(ngModel)]="searchCategory"
      (ngModelChange)="filterCategories()">
    <div *ngIf="filteredCategories?.length > 0; else noCategories">
      <div *ngFor="let category of filteredCategories">
        <input type="checkbox" [checked]="filters.CategoriesId.includes(category.id)"
          (change)="onBrandOrCategoryChange(category.id, 'category')">
        {{ category.name }} ({{ category.productsNumber }})
      </div>
    </div>

    <ng-template #noCategories>
      <p>No Categories Available</p>
    </ng-template>
  </div>

  <!-- Products Display -->
  <div class="row products-column mb-5 pe-5">

    

    <div *ngFor="let product of products" class="col-md-4 mb-4">
      <app-car-oil [oil]="product"></app-car-oil>
    </div>

    <!-- No Products Available Message -->
    <div *ngIf="products.length === 0" class="alert alert-warning">
      No products found matching your filter criteria.
    </div>
  </div>


</div>