.container {
  display: flex;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;
  overflow: scroll;
}

.filter-column {
  width: 25%;
}

.products-column {
  width: 75%;

}

.alert {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.sidebar {
  width: 250px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  flex: 1;
}

.product {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  background: #fff;
}

.product img {
  max-width: 100%;
  height: auto;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #e67e22;
}

.old-price {
  text-decoration: line-through;
  color: #999;
}

.discount {
  color: red;
  font-weight: bold;
}

.add-to-cart {
  background-color: #eb762c;
  border: 1px solid #eb762c;
  color: white;
  border: none;
  padding: 7px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}


.add-to-cart:hover {
  background-color: darkorange;
}


.container-fluid {
  background-color: #eeeeee;
}

.section-header h2 {
  font-size: 24px;
  margin: 0;
}

.product-card {
  border-radius: 6px;
  padding: 16px 12px;
  background-color: white;
}

.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
  height: 200px;
}

.card-img-container {
  position: relative;
  background-color: #eeeeee;
  height: 100%;
  border-radius: 8px;
}

.card-img {
  width: 100%;
  height: 200px;
  min-height: 280px;
  max-height: 280px;
}

.icons-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px 0px;
  display: flex;
  justify-content: space-between;
}

.icon-size {
  width: 20px;
  height: 20px;
}

.quantity {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn {
  font-size: 0.8rem;
  border: none;
}

.card-content .hot-deal {
  background: #fffaeb;
  color: #dc6803;
  border-radius: 4px;
  margin: 8px 0px;
}

.card-content h3 {
  font-size: 16px;
  margin: 0 0 10px;
}

.card-content .price {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.card-content .current-price {
  font-size: 20px;
  color: black;
}

.card-content .old-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #999;
  font-weight: 400;
}

.card-content .discount {
  font-size: 14px;
  color: #039855;
}

.card-content .shipping-info {
  margin: 10px 0;
}

.card-content .add-to-cart {
  background-color: #eb762c;
  border: 1px solid #eb762c;
  color: white;
  padding: 12px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.card-content .add-to-cart:hover {
  background-color: darkorange;
}

.btn-increase,
.btn-decrease {
  background-color: #eb762c;
}

.btn-increase:hover,
.btn-decrease:hover {
  background-color: #eb762c;
}

.btn-delete {
  background-color: #ff0000e6;
}

.btn-delete:hover {
  background-color: #ff0000 !important;
}

.low-opacity {
  opacity: 0.3; 
  pointer-events: none; 
}