.icon-size {
    width: 20px;
    height: 20px;
  }
  .btn-delete {
    background-color: #ff0000e6;
  }
  
  .btn-delete:hover {
    background-color: #ff0000 !important;
  }
  .row .col-6 {
    margin-bottom: 0.5rem;
  }
  .btn-primary {
    background-color: #4DC3FF;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #35b3f2;
  }
  .expand-arrow svg {
    transition: transform 0.3s;
    margin-right: 8px;  
    transform: rotate(180deg); 
  }
  .expand-arrow {
    cursor: pointer; 
  }
  h1,h2,h3,h4,h5{
    font-family: 'Zain', serif !important;
   }
  
   p,span,button,nav,div,a ,label,td,form{
    font-family: 'Zain', serif !important;
    font-size: 18px;
   }
   .font-big {
    font-size: 25px;
   }