
.fixed-button {
  flex: 0 0 auto;
  width: 130px;
}



/* Base style for the clickable row */
.clickable-row {
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  border-radius: 5px;
}


body {
  background-color: #060B26;
  color: #fff;
  font-family: 'Cairo', sans-serif;
}

.card {
  background-color: #0B1437;
  border: none;
  border-radius: 8px;
}

.btn-primary {
  background-color: #4DC3FF;
  border: none;
}

.btn-primary:hover {
  background-color: #35b3f2;
}

.btn-danger {
  background-color: #B73C3C;
  border: none;
}

.btn-danger:hover {
  background-color: #a83232;
}

.table {
  background-color: transparent;
  color: #fff;
}

input,
select {
  background-color: #0B1437;
  border: 1px solid #4DC3FF;
  color: #fff;
}

input::placeholder {
  color: #ccc;
}

.border-color {
  border-color: #535862;
}

.transparent-table {
  background-color: transparent;
  color: white;
  width: 100%;
  border-collapse: collapse;
}

.transparent-table thead {
  background-color: transparent;
  color: white;
}

.transparent-table tbody tr {
  background-color: transparent;
}


.transparent-table td,
.transparent-table th {
  background-color: transparent !important;
  color: white;

  border: 1px solid rgba(255, 255, 255, 0.1);

}

.transparent-table img {
  border-radius: 0.5rem;
}

.transparent-table .pointer {
  cursor: pointer;
}


.border-gray-input {
  border: 1px solid rgb(190, 32, 32) !important;
  border-radius: 4px;
  /* اختياري */
  color: white;
  /* حسب التنسيق */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Zain', serif !important;
}

p,
span,
button,
nav,
div,
a,
label,
td,
form {
  font-family: 'Zain', serif !important;
  font-size: 18px;
}


@media (max-width: 576px) {

  h5,
  .rb-btn-text {
    font-size: 1rem;
  }

  .table-responsive {
    overflow-x: auto;
  }
}

.clientHover:hover {
  color: #9454C6 !important;
  text-decoration: underline;
  cursor: pointer;
}



@media (min-width: 990px) and (max-width: 1700px) {
  .chang-width {
    width: 700px !important;
  }
}